.aPermalinks {
  /* Note: these styles rely on elements
  with global classes being added by our `anchor-links`
  remark plugin.
  ref: https://github.com/hashicorp/remark-plugins/tree/main/plugins/anchor-links */

  /* Permalinks generally */
  & a:global(.__permalink-h) {
    color: var(--brand-link);
    position: relative;
    transition: color 0.3s;
    text-decoration: none;

    &:hover {
      color: var(--brand-link);
    }
  }

  /* Permalinks in headings */
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    & a:global(.__permalink-h) {
      display: inline-block;
      opacity: 0;
      transition: opacity 0.2s ease;
      order: 1;
      position: relative;
      left: -0.7em;
      margin-right: -0.5em;
    }

    &:hover {
      & a:global(.__permalink-h) {
        opacity: 1;
        transition: opacity 0.2s ease;
      }
    }
  }
}
