.a {
  /* Links */

  /*
  Note: custom components are used in g-content areas.
  We don't want to clobber these with our default link styles,
  so we use the :not([class]) selector to ensure these defaults
  can be easily overriden.
  */
  & a:not([class]) {
    color: var(--brand-link);
    position: relative;
    transition: color 0.3s;
    text-decoration: none;

    &:hover {
      color: var(--brand-link);
      text-decoration: underline;
    }

    &:visited {
      color: var(--visited);

      &:hover {
        color: var(--visited-d1);
      }
    }
  }
}
