.a {
  /* Links */

  /* Note: custom components are used in g-content areas.
  We don't want to clobber these with our default link styles */
  & a:not([class]) {
    color: var(--brand-link);
    position: relative;
    transition: color 0.3s;
    text-decoration: none;

    &:hover {
      color: var(--brand-link);
      text-decoration: underline;
    }

    &:visited {
      color: var(--visited);
    }

    &:visited:hover {
      color: var(--visited-d1);
    }
  }
}
