.alert {
  & :global(.alert) {
    padding: 1em;
    border-radius: 3px;
    margin: 24px 0;

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    &:global(.alert-info) {
      background-color: var(--info-l2);
    }

    &:global(.alert-success) {
      background-color: var(--success-l2);
    }

    &:global(.alert-warning) {
      background-color: var(--warning-l2);
    }

    &:global(.alert-danger) {
      background-color: var(--danger-l2);
    }
  }
}
