.g-content_code-inline {
  /* Inline code */
  &:not(pre) code {
    padding: 0.3em 0.625em;
    background: var(--code-light-transparent);
    border-radius: 3px;
    color: var(--code-dark);
    font-family: var(--font-monospace);
    hyphens: none;
  }
}
