.g-content_headings {
  /* Headings */
  & h1 {
    color: var(--black);
    /* @TODO margin around component should be handled at project level */
    margin-top: 56px;
    margin-bottom: 24px;
  }

  & h2 {
    color: var(--black);
    /* @TODO margin around component should be handled at project level */
    margin-top: 40px;
    margin-bottom: 24px;
  }

  & h3 {
    color: var(--black);
    /* @TODO margin around component should be handled at project level */
    margin-top: 40px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray-5);
  }

  & h4 {
    color: var(--black);
    /* @TODO margin around component should be handled at project level */
    margin-top: 32px;
    margin-bottom: 16px;
  }

  & h5 {
    color: var(--black);
    /* @TODO margin around component should be handled at project level */
    margin-top: 24px;
    margin-bottom: 16px;
  }

  & h6 {
    color: var(--black);
    /* @TODO margin around component should be handled at project level */
    margin-top: 20px;
    margin-bottom: 16px;
  }

  /* Inline code in headings */
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    & code {
      display: inline;
      padding: 0.2em 0.4em;
      font-size: 0.825em;
    }
  }
}
