/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.hr {
  & hr:not([class]) {
    height: 1px;
    border: none;
    color: var(--gray-5);
    background-color: var(--gray-5);
  }
}
