.root {
  padding: 0 12px 1px;
  border-radius: 24px;
  width: max-content;
  composes: g-type-body-small-x-strong from global;

  &.primary {
    &.theme_action {
      &.page_light,
      &.page_faint {
        background-color: var(--wpl-blue-500);
        color: var(--wpl-neutral-0);
      }

      &.page_strong,
      &.page_strongFaint {
        background-color: var(--wpl-neutral-0);
        color: var(--wpl-neutral-900);
      }

      &.page_action {
        background-color: var(--wpl-neutral-0);
        color: var(--wpl-blue-500);
      }

      &.page_actionFaint {
        background-color: var(--wpl-blue-500);
        color: var(--wpl-neutral-0);
      }
    }

    &.theme_neutral {
      &.page_light,
      &.page_faint {
        background-color: var(--wpl-neutral-900);
        color: var(--wpl-neutral-0);
      }

      &.page_strong,
      &.page_strongFaint {
        background-color: var(--wpl-neutral-0);
        color: var(--wpl-neutral-900);
      }

      &.page_action {
        background-color: var(--wpl-neutral-0);
        color: var(--wpl-blue-500);
      }

      &.page_actionFaint {
        background-color: var(--wpl-blue-500);
        color: var(--wpl-neutral-0);
      }
    }

    &.theme_product {
      &.page_light,
      &.page_faint,
      &.page_strong,
      &.page_strongFaint {
        background-color: var(--brand);
        color: var(--brand-text-on-primary);
      }

      &.page_action,
      &.page_actionFaint {
        background-color: var(--wpl-neutral-0);
        color: var(--wpl-neutral-900);
      }
    }
  }

  &.secondary {
    display: flex;
    align-items: center;
    gap: 5px;

    &::before {
      --size: 7px;

      content: '';
      width: var(--size);
      height: var(--size);
      background-color: var(--brand);
      border-radius: 50%;
    }

    &.theme_action {
      gap: 0;

      &::before {
        width: 0;
        height: 0;
      }

      &.page_light,
      &.page_faint {
        background-color: rgba(159, 160, 163, 0.13);
        color: var(--wpl-neutral-500);
      }

      &.page_strong {
        background-color: rgba(255, 255, 255, 0.18);
        color: var(--wpl-neutral-400);
      }

      &.page_strongFaint {
        background-color: rgba(159, 160, 163, 0.13);
        color: rgba(159, 160, 163, 1);
      }

      &.page_action {
        background-color: rgba(255, 255, 255, 0.64);
        color: rgba(53, 113, 233, 0.85);
      }

      &.page_actionFaint {
        background-color: var(--wpl-blue-100);
        color: var(--wpl-blue-600);
      }
    }

    &.theme_neutral {
      &.page_light,
      &.page_faint {
        background-color: rgba(159, 160, 163, 0.13);
        color: var(--wpl-neutral-500);

        &::before {
          background-color: var(--wpl-neutral-500);
        }
      }

      &.page_strong {
        background-color: rgba(255, 255, 255, 0.18);
        color: var(--wpl-neutral-400);

        &::before {
          background-color: var(--wpl-neutral-400);
        }
      }

      &.page_strongFaint {
        background-color: rgba(159, 160, 163, 0.13);
        color: var(--wpl-neutral-300);

        &::before {
          background-color: var(--wpl-neutral-300);
        }
      }

      &.page_action {
        background-color: rgba(255, 255, 255, 0.64);
        color: rgba(53, 113, 233, 0.85);

        &::before {
          background-color: var(--wpl-blue-500);
        }
      }

      &.page_actionFaint {
        background-color: var(--wpl-blue-100);
        color: var(--wpl-blue-600);

        &::before {
          background-color: var(--wpl-blue-500);
        }
      }
    }

    &.theme_product {
      &.page_light,
      &.page_faint {
        background-color: rgba(159, 160, 163, 0.13);
        color: var(--wpl-neutral-500);
      }

      &.page_strong {
        background-color: rgba(255, 255, 255, 0.18);
        color: var(--wpl-neutral-400);
      }

      &.page_strongFaint {
        background-color: rgba(159, 160, 163, 0.13);
        color: var(--wpl-neutral-300);
      }

      &.page_action {
        background-color: rgba(255, 255, 255, 0.64);
        color: var(--neutral-900);
      }

      &.page_actionFaint {
        background-color: var(--wpl-neutral-0);
        color: var(--wpl-neutral-900);
      }
    }
  }
}
