/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
  background: var(--white);
  padding-top: 128px;
  padding-bottom: 128px;
}

.heading {
  composes: g-type-display-2 from global;
  margin: 0;
}
