/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

@import './styles/index.css';
@import './partials/AccordionItems/style.css';
@import './partials/Collapsible/style.css';
