.stackGroup {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 50%;
  margin-bottom: 1rem;
  & + .stackGroup {
    margin-bottom: 0;
  }
}

.stackGroupHeading {
  composes: g-type-display-6 from global;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.06rem;
  margin: 0;
  width: 100%;
  color: var(--gray-2);
}

.stackGroupDescription {
  composes: g-type-body-small from global;
  white-space: pre-wrap;
  color: var(--gray-3);
}

.stackGroupLinkList {
  padding: 1.25rem 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.stackGroupCta {
  composes: g-type-body-small-strong from global;
  display: flex;
  align-items: center;
  color: var(--gray-1);

  & svg {
    margin: 2px 0 0 8px;
    transition: transform 0.35s;
  }

  &:hover svg {
    transform: translateX(2px);
  }
}
