.colHeader {
  text-align: left;

  & * {
    max-width: 100%;
  }
}

.colHeaderText {
  border-top: 1px solid var(--wpl-neutral-400);
  padding-top: 6px;
  composes: g-type-body-x-strong from global;
}
