.g-accordion {
  background: var(--white);
  padding-top: 128px;
  padding-bottom: 128px;

  & .g-type-display-2 {
    margin: 0;
  }

  & .g-accordion-items {
    margin-top: 64px;
    border-top: 1px solid var(--gray-6);
  }
}
