.pricingTierListWrapper {
  composes: g-grid-container from global;
  composes: g-grid from global;
  align-items: center;
  justify-content: center;
}

.pricingTierList {
  grid-column: 1 / -1;
  display: grid;
  position: relative;
  background: var(--white);
  gap: var(--column-gap);

  @media (--medium-up) {
    grid-column-start: var(--grid-column-start);
    grid-column-end: var(--grid-column-end);
    grid-template-columns: repeat(var(--tier-columns), minmax(0, 1fr));
    padding: 0 var(--padding-x);
    border: 1px solid var(--wpl-neutral-100);
    border-radius: 8px;
  }

  &::after {
    content: '';
    background: var(--vault-accent);
    filter: blur(24px);
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 93%;
    height: 23%;
    bottom: -10px;
    z-index: -1;
    display: none;

    @media (--medium-up) {
      display: block;
    }
  }
}
