.pricingTierListWrapper {
  composes: g-grid-container from global;
  composes: g-grid from global;
  align-items: center;
  justify-content: center;
}

.pricingTierList {
  grid-column: 1 / -1;
  display: grid;
  position: relative;
  background: var(--white);
  row-gap: 42px;

  @media (--medium-up) {
    grid-template-columns: repeat(var(--tier-columns), minmax(0, 1fr));
    border: 1px solid var(--wpl-neutral-100);
    border-radius: 8px;
  }

  &.length1 {
    @media (--medium-up) {
      grid-column: 4 / 10;
      padding: 0 40px;
    }

    @media (--large) {
      grid-column: 5 / 9;
    }
  }

  &.length2 {
    @media (--medium-up) {
      grid-column: 2 / 12;
      column-gap: 20px;
      padding: 0 32px;
    }

    @media (--large) {
      column-gap: 135px;
      padding: 0 135px;
    }
  }

  &.length3 {
    @media (--medium-up) {
      grid-column: 1 / -1;
      column-gap: 36px;
      padding: 0 57px;
    }
  }

  &.length4,
  &.length5 {
    @media (--medium-up) {
      grid-column: 1 / -1;
      column-gap: 20px;
      row-gap: 0;
      padding: 0 57px;
    }

    @media (--large) {
      column-gap: 32px;
    }
  }

  &::after {
    content: '';
    background: var(--vault-accent);
    filter: blur(24px);
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 93%;
    height: 23%;
    bottom: -10px;
    z-index: -1;
    display: none;

    @media (--medium-up) {
      display: block;
    }
  }
}
