.g-code-block {
  position: relative;

  & > .window-bar {
    background: #262930; /* to match nextjs-scripts/prism/style.css */
    border-bottom: 1px solid var(--gray-2);
    line-height: 0;
    padding: 0 18px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    & > span {
      background: var(--gray-2);
      border-radius: 50%;
      display: inline-block;
      height: 12px;
      margin: 12px 0;
      width: 12px;

      & + span {
        margin-left: 8px;
      }
    }
  }

  & > .block-wrapper {
    position: relative;

    & > pre[data-has-window-bar='true'] {
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  & .clipboard-icon {
    align-items: center;
    background: var(--gray-1);
    border: none;
    border-radius: 4px;
    color: var(--gray-4);
    cursor: pointer;
    display: flex;
    padding: 3px 8px 4px 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: color 0.2s ease-in-out;

    & svg {
      display: block;
      margin-left: 8px;

      & [fill] {
        fill: var(--gray-4);
        transition: fill 0.2s ease-in-out;
      }
    }

    &:hover {
      color: var(--white);

      & svg [fill] {
        fill: var(--white);
      }
    }
  }
}
