.g-code-block {
  position: relative;

  & > .clipboard-icon {
    align-items: center;
    background: var(--gray-1);
    border: none;
    border-radius: 4px;
    color: var(--gray-5);
    cursor: pointer;
    display: flex;
    padding: 3px 8px 4px 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: color 0.2s ease-in-out;

    & > svg {
      display: block;
      margin-left: 8px;

      & [fill] {
        fill: var(--gray-5);
        transition: fill 0.2s ease-in-out;
      }
    }

    &:hover {
      color: var(--white);

      & > svg [fill] {
        fill: var(--white);
      }
    }
  }
}
