.root {
  position: relative;
  background: var(--background-base);
  color: var(--text-color-base);
  border-radius: 4px;

  &.hasBarAbove {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.linesContainer {
  position: relative;
}

.copyButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  min-height: 58px;

  @media print {
    display: none;
  }
}

.copyButtonBackground {
  position: relative;
  background: var(--background-base);
  border-radius: 2px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
