.inlineVideo {
  /* TBD */
}

.gradient {
  &.infrastructure {
    /* TBD */
  }

  &.security {
    /* TBD */
  }

  &.networking {
    /* TBD */
  }

  &.applications {
    /* TBD */
  }
}

.videoPlayer {
  aspect-ratio: 16 / 9;
  background-color: var(--wpl-purple-100);
  border-radius: 4px;
}

.description {
  composes: g-type-body-small-strong from global;
  color: var(--wpl-neutral-500);
  padding: 16px 24px;
  margin: 0;
}
