/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.select {
  --select-font-size: 16px;

  &[data-size='small'] {
    --select-font-size: 14px;
  }

  width: 100%;
  font-size: var(--select-font-size, 16px);

  & > label {
    display: block;
    margin-bottom: 8px;
    font-family: var(--font-display);
    font-size: 0.75rem;
    font-weight: var(--font-weight-medium);
    color: var(--gray-3);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    line-height: 1.5em;
  }

  & > button {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--gray-5);
    border-radius: 2px;
    box-sizing: border-box;
    background: var(--white);
    font-size: 1rem;
    line-height: 1.5em;
    font-family: inherit;
    color: var(--gray-2);
    cursor: pointer;
    text-align: left;
    position: relative;

    &:placeholder-shown {
      color: var(--gray-6);
    }

    & .arrow {
      position: absolute;
      right: 0.75em;

      & > svg {
        vertical-align: middle;
        width: 11px;
        height: 6px;
        transition: transform 0.2s;
      }
    }
  }

  & .selectBox {
    position: relative;
    margin: 0;

    & ul {
      display: none;
      background: var(--white);
      border: 1px solid var(--gray-5);
      box-sizing: border-box;
      border-radius: 2px;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0.25em;
      width: 100%;
      z-index: 5;

      & li {
        width: 100%;
        padding: 0.5em;
        cursor: pointer;

        &:hover,
        &[data-active='true'] {
          background: var(--gray-5);
        }
      }
    }
  }

  &[aria-expanded='true'] {
    & > button {
      & .arrow svg {
        transform: rotate(-180deg);
      }
    }

    & > .selectBox ul {
      display: block;
      max-height: 300px;
      overflow-y: scroll;
    }
  }
}
