@import './_temp-spacing-tokens.css';

.g-call-to-action.variant-compact {
  padding: var(--space-block-padding-reduced) 0;

  & .g-grid-container {
    @media (--medium-up) {
      display: flex;
    }

    & .g-type-display-2 {
      @media (--medium-up) {
        flex-basis: 33.3%;
        padding-right: 32px;
      }
    }

    & .content-and-links {
      @media (--medium-up) {
        flex-basis: 66.6%;
        margin-left: 32px;
      }

      & .g-type-body-large {
        max-width: 35em;
      }
    }

    & .g-type-display-2 + .content-and-links .g-type-body-large {
      margin-top: var(--space-display-2--body-large);
      @media (--medium-up) {
        margin: 0;
      }
    }

    & .links {
      margin-top: var(--space-body-large--buttons);
      margin-bottom: -16px;

      & .g-btn {
        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
  }
}
