@import './_temp-spacing-tokens.css';

.g-call-to-action.variant-centered {
  padding: var(--space-block-padding) 0;

  & .g-type-display-2 {
    text-align: center;
    margin: 0 auto;
    max-width: 20em;
  }

  & .g-type-body-large {
    margin: 0 auto 0 auto;
    text-align: center;
    max-width: 40em;
  }
  & .g-type-display-2 + .content-and-links .g-type-body-large {
    margin-top: var(--space-display-2--body-large);
  }

  & .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*
     * Margins here compensate for extra 8px margin on buttons
     * which are needed to center and space properly regardless of whether
     * buttons are wrapping to multiple lines or not.
     */
    margin-top: calc(var(--space-body-large--buttons) - 8px);
    margin-bottom: -8px;

    & .g-btn {
      /* 
       * This ensures 16px between buttons at all times, while maintaining proper centering
       * when buttons wrap to multiple lines.
       * There will be an extra 8px space on all sides of the button group.
       * The top and bottom are accounted for by the -8px adjustment on `.action` margins.
       * The left and right excess is left as is - it's needed for proper centering when wrapping.
       */
      margin: 8px;
    }
  }
}
