.root {
  composes: .g-grid-container from global;
  margin-top: 72px;
  margin-bottom: 72px;

  & a {
    text-decoration: underline;
  }
}

.pageTitle {
  composes: g-type-display-1 from global;
  text-align: center;
}

.logo {
  max-width: 140px;
}

.hosting {
  border: 1px solid var(--gray-5);
  padding: 16px;
  text-align: center;
  color: var(--gray-2);
}

.gettingStarted {
  max-width: 680px;
  margin: 40px auto 64px;
  text-align: center;

  @media (--medium-up) {
    margin: 88px auto 128px;
  }
}

.gettingStartedTitle {
  composes: g-type-display-2 from global;
  text-align: center;
  margin: 16px 0;
}

.gettingStartedDescription {
  composes: g-type-body from global;
  color: var(--gray-2);
}

.links {
  margin-top: 32px;
}

.link {
  color: var(--black);
  text-align: center;
  display: block;
  margin: 8px 0;
}
