#g-consent-manager {
  /* Common */

  & .flex-centered-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .flex-column {
    display: flex;
    flex-direction: column;
  }

  & .clickable:hover {
    cursor: pointer;
  }

  /* Banner */

  & .g-consent-manager-banner {
    background-color: var(--brand-secondary);
    width: 100%;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    font-size: 0.9rem;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    & a {
      color: var(--brand-link);
      text-decoration: underline;

      &.manage-link {
        font-size: 0.8rem;
        color: var(--gray-1);
        font-weight: var(--font-weight-bold);
        transition: color 200 ease-out;
        text-decoration: none;

        &:hover {
          color: var(--brand-link);
        }
      }
    }

    & button {
      border: 0;
      font-weight: var(--font-weight-bold);
      padding: 10px 20px;
      border-radius: 2px;
      transform: translate3d(0, 0, 0);
      transition: transform 200ms ease;
      background-color: var(--brand);
      color: var(--white);
      font-size: 0.85rem;
      text-transform: uppercase;
      margin: 0 15px;

      &:hover {
        cursor: pointer;
        transform: translate3d(-0.5px, -0.5px, 0);
      }

      @media (max-width: 1200px) {
        margin-top: 6px;
      }
    }
  }

  /* Dialog */

  & .g-consent-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  & .g-consent-visible-dialog {
    width: 60%;
    max-width: 830px;
    background-color: var(--brand-secondary);
    color: var(--black);
    border-radius: 4px;
    overflow: hidden; /* IE */
    max-height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    @media (max-width: 1000px) {
      width: 85%;
    }

    @media (max-width: 700px) {
      width: 90%;
    }

    & .dialog-title {
      background-color: var(--brand);
      padding: 15px 25px;
      flex-shrink: 0;
      -ms-flex-negative: 0; /* IE */
      border-radius: 4px 4px 0 0;

      & span {
        font-size: 1rem;
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--white);
      }
    }

    & .dialog-body {
      padding: 5px 25px;
      flex-grow: 1;
      overflow-y: scroll;
      color: var(--black);
      font-size: 0.95rem;
      max-height: 500px; /* IE */

      /* List of categories/integrations */
      & #outline {
        padding: 0 20px;

        /* Categories */
        & .category {
          margin-bottom: 20px;
        }

        & .category-title {
          font-size: 1.2rem;
          font-weight: var(--font-weight-bold);
          margin-bottom: 8px;
        }

        & .category-description {
          margin-right: 5px;
          font-size: 0.95rem;
        }

        & .category-fold {
          margin-top: 8px;
          text-transform: uppercase;
          font-weight: var(--font-weight-bold);
          font-size: 0.9em;

          & a {
            display: flex;
            align-items: center;
            cursor: pointer;

            & svg {
              margin-left: 10px;
              transform: rotate(180deg);

              &.down {
                transform: rotate(0deg);
              }
            }
          }
        }

        & .consent-toggle {
          margin-left: 60px;
          min-width: 55px;
        }

        /* Individual integration */
        & .category-items {
          padding: 25px 0 0 25px;
        }

        & .category-item {
          padding-bottom: 15px;
        }

        & .item-title {
          font-size: 1.1rem;
          font-weight: var(--font-weight-bold);
        }

        & .item-description {
          margin-right: 25px;
          font-size: 0.9rem;
        }
      }
    }

    & .dialog-footer {
      margin: 25px 20px;
      text-align: right;
      display: flex; /* IE */
      flex-shrink: 0;
      align-self: flex-end;

      & .button-save {
        margin-left: 15px;
      }
    }
  }
}
