/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.button {
  border: 0;
  background: transparent;
  vertical-align: middle;
  cursor: pointer;

  & svg {
    vertical-align: middle;
  }
}
