.browsePanel {
  position: absolute;
  display: none;
}

.isOpen {
  height: 100vw;
  top: 100%;
  left: -2rem;
  right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  max-width: 859px;
}

.panelInner {
  display: flex;
  box-shadow: 0 4px 5px rgba(37, 38, 45, 0.12);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 2rem 0 0 0;
  background: var(--white);
  border-bottom: 1px solid var(--gray-6);
  overflow-y: hidden;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
