.videoFeature {
  --padding-y: 48px;
  --padding-x: 48px;
  --background-color: var(--wpl-neutral-100);

  composes: g-grid-container from global;
  padding: var(--padding-y) var(--padding-x);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 48px;
  border-radius: 8px;

  @media (--medium-up) {
    flex-direction: row;
  }

  @media (--large) {
    --padding-y: 64px;
    --padding-x: 72px;

    gap: 64px;
  }

  &.dark {
    /* ! New --wpl-neutral-700 from HDS */
    --background-color: #0c0c0e;
  }

  &.right {
    @media (--medium-up) {
      flex-direction: row-reverse;
    }
  }
}

.content {
  display: grid;
  gap: 32px;
}

.video {
  flex-shrink: 0;
}
