.root {
  --transition-duration: 175ms;
  --transition-timing-function: ease-in-out;
  --color: var(--wpl-blue-500);

  display: inline-flex;
  align-items: center;
  gap: 15px;
  color: var(--color);
  font-weight: var(--font-weight-bold);
}

/*
 * Variants
 */

.primary {
  --color: var(--wpl-blue-500);

  &:hover {
    --color: var(--wpl-blue-600);
  }

  &.dark {
    --color: var(--wpl-neutral-100);

    &:hover {
      --color: var(--wpl-blue-200);
    }
  }
}

.secondary {
  --color: var(--wpl-neutral-600);

  &:hover {
    --color: var(--wpl-neutral-700);
  }

  &.dark {
    --color: var(--wpl-neutral-100);

    &:hover {
      --color: var(--wpl-blue-200);
    }
  }
}

.tertiary {
  --color: var(--wpl-neutral-500);

  &:hover {
    --color: var(--wpl-neutral-600);
  }

  &.dark {
    --color: var(--wpl-neutral-400);

    &:hover {
      --color: var(--wpl-blue-300);
    }
  }
}

/*
 * Arrow icon
 */

.icon {
  overflow: visible !important;
}

.arrow {
  --translate-x: -8px;

  transform: translateX(var(--translate-x));
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: transform;

  @nest .root:hover & {
    --translate-x: 0;
  }
}

.line {
  --scale-x: 0;
  --opacity: 0;

  transform: scaleX(var(--scale-x));
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: opacity, transform;

  @nest .root:hover & {
    --translate-x: 0;
    --scale-x: 1;
    --opacity: 1;
  }
}
