.pricingTierTableContainer {
  composes: g-grid-container from global;
  overflow-x: auto;
  position: relative;
}

.table {
  overflow-x: auto;
  position: relative;

  & table {
    width: 100%;
    border-collapse: collapse;

    @media (--medium-up) {
      table-layout: fixed;
    }

    & thead {
      & th {
        text-align: left;
      }

      & * + * {
        padding-left: var(--col-gap);
      }
    }

    & tbody {
      & tr {
        border-bottom: 1px solid var(--wpl-neutral-200);
      }
    }
  }
}

.colHeaderText {
  composes: g-type-body-x-strong from global;
  border-top: 1px solid var(--wpl-neutral-400);
  padding-top: 6px;

  & * {
    max-width: 100%;
  }
}
