.pricingTable {
  background-color: var(--gray-6);

  @media (--medium-up) {
    background-color: #fff;
    overflow-x: auto;
    position: relative;
  }
}

.table {
  overflow-x: auto;
  position: relative;
  display: none;

  @media (--medium-up) {
    display: block;
  }

  & table {
    width: 100%;
    border-collapse: collapse;

    @media (--medium-up) {
      table-layout: fixed;
    }

    & thead {
      & th {
        text-align: left;
      }

      & * + * {
        padding-left: var(--col-gap);
      }
    }

    & tbody {
      & tr {
        border-bottom: 1px solid var(--wpl-neutral-200);
      }
    }
  }
}

.colHeaderText {
  composes: g-type-body-x-strong from global;
  border-top: 1px solid var(--wpl-neutral-400);
  padding-top: 6px;

  & * {
    max-width: 100%;
  }
}

.downloadContainer {
  composes: g-grid-container from global;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;

  @media (--medium-up) {
    display: none;
  }
}

.downloadHeading {
  composes: g-type-display-3 from global;
  color: var(--wpl-neutral-900);
  margin: 0;
}

.downloadDescription {
  composes: g-type-body from global;
  color: var(--gray-3);
  margin: 0;
  padding: 16px 0 32px;
}
