.closeButton {
  --transition-duration: 0.2s;
  --size: 24px;
  --color: var(--color-enabled);
  --background-color: var(--background-color-enabled);

  /* State variables */
  --background-color-enabled: transparent;
  --background-color-hover: var(--wpl-neutral-300);
  --background-color-active: var(--wpl-neutral-200);
  --color-enabled: var(--wpl-neutral-500);
  --color-disabled: var(--wpl-neutral-400);
  --color-hover: var(--wpl-neutral-0);
  --color-active: var(--wpl-neutral-0);

  /* Appearance */
  &.dark {
    --background-color-enabled: transparent;
    --background-color-hover: var(--wpl-neutral-500);
    --background-color-active: var(--wpl-neutral-600);
    --color-enabled: var(--wpl-neutral-400);
    --color-disabled: var(--wpl-neutral-500);
    --color-hover: var(--wpl-neutral-0);
    --color-active: var(--wpl-neutral-0);
  }

  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--background-color);
  color: var(--color);
  display: grid;
  place-items: center;
  width: var(--size);
  height: var(--size);
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transition-duration);
  transition-property: background-color;

  & svg {
    fill: inherit;
    transition: var(--transition-duration);
    transition-property: color;
  }

  &:disabled {
    --color: var(--color-disabled);
  }

  &:hover {
    --background-color: var(--background-color-hover);
    --color: var(--color-hover);
  }

  &:active {
    --background-color: var(--background-color-active);
    --color: var(--color-active);
  }
}
