.cta {
  --transition-duration: 250ms;
  --transition-timing-function: ease-in-out;

  margin-top: auto;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--wpl-blue-500);
}

.ctaLabel {
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.25;
}

.ctaIcon {
  flex-shrink: 0;
}

.ctaIconArrow {
  --translate-x: -4px;

  transform: translateX(var(--translate-x));
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: transform;
  color: inherit;

  @nest [data-testid='wpl-card']:hover & {
    --translate-x: 0;
  }
}

.ctaIconLine {
  --stroke-dashoffset: 10;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: stroke-dashoffset;
  stroke-dasharray: 10;
  stroke-dashoffset: var(--stroke-dashoffset);

  @nest [data-testid='wpl-card']:hover & {
    --stroke-dashoffset: 1;
  }
}
