version: 2.1
orbs:
  node: circleci/node@3.0.0
workflows:
  test:
    jobs:
      - node/test:
          run-command: bootstrap && npm run lint
      - node/test:
          run-command: bootstrap && npm run test:ci
