.stackSection {
  border-right: 1px solid var(--gray-6);
  padding: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  min-width: 540px;

  &:last-of-type {
    border-right: none;
    min-width: 460px;
  }
}

.stackGroup {
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.stackGroupHeading {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.06rem;
  margin: 0;
  width: 100%;
  color: var(--gray-4);
}

.stackGroupLinkList {
  padding: 0;
  margin: 0;
  width: 100%;
}
