.stackMenuSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2rem;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  min-height: 200px;
}

.stackMenuSectionPlusDivider {
  composes: stackMenuSection;
  position: relative;
  flex-grow: 1;
  &:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 90%;
    background: var(--gray-6);
    left: 0;
  }
}

.stackGroup {
  padding: 0;
  min-height: 50%;
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.stackGroupHeading {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.06rem;
  margin: 0;
  width: 100%;
  color: var(--gray-2);
}

.stackGroupLinkList {
  padding: 1.25rem 0;
  margin: 0;
  width: 100%;
}
