.stackSection {
  border-right: 1px solid var(--gray-6);
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  padding: 0 2rem;

  &:last-of-type {
    border-right: none;
  }
}

.stackGroup {
  height: 100%;

  max-height: calc(328px / 2);
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.stackGroupHeading {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.06rem;
  margin: 0;
  width: 100%;
  color: var(--gray-2);
}

.stackGroupLinkList {
  padding: 1.25rem 0;
  margin: 0;
  width: 100%;
}
