.g-subnav .title-link {
  position: relative;
  white-space: nowrap;
  font-weight: var(--font-weight-bold);
  color: var(--gray-1);
  font-size: 1.25rem;
  line-height: 2.5rem;

  & .svg-sizer {
    height: 34px;
    width: auto;

    & svg {
      height: inherit;
      width: inherit;
    }
  }

  &.brand-hcp .svg-sizer {
    width: 200px;

    @media (--medium-up) {
      width: 220px;
    }
  }
}
