/* Note: consumes from theme.module.css, as marked */

.root {
  position: relative;
  white-space: nowrap;
  font-weight: var(--font-weight-bold);
  color: var(--title-text-color); /* from theme.module.css */
  font-size: 1.25rem;
  line-height: 2.5rem;

  & svg {
    height: 34px;
    width: auto;
    display: block;
  }

  &.brand-hcp svg {
    height: 26px;

    @media (min-width: 360px) {
      height: 29px;
    }
  }

  &.hashiCorpVault,
  &.hashiCorpConsul,
  &.hashiCorpNomad,
  &.hashiCorpPacker,
  &.hashiCorpTerraform,
  &.hashiCorpVagrant,
  &.hashiCorpBoundary,
  &.hashiCorpWaypoint,
  &.hashiCorpTfc {
    & svg {
      height: 40px;
    }
  }
}
