.tableCell {
  vertical-align: top;
  padding-left: var(--col-gap);
  padding-top: 26px;
  padding-bottom: 26px;

  & .cellHeading {
    font-weight: var(--font-weight-semi-bold);

    & * {
      margin: 0;
    }
  }

  & .cellContent {
    color: var(--wpl-neutral-500);
    padding-top: 8px;

    &[aria-hidden='true'],
    &[data-hidden='true'] {
      display: none;
    }

    & * {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & .cellHeading,
  & .cellContent {
    font-family: var(--font-body);
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.0125em;

    & a {
      color: inherit;
      font-weight: inherit;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
