/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
  composes: wpl-variables input-root from '../style.module.css';

  /* reset fieldset UA styles */
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  margin-bottom: 24px;

  &.hidden {
    display: none;
  }
}

.theme-dark {
  composes: wpl-variables-dark from '../style.module.css';

  & .input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23e1e2e5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  }
}
