{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Cloud Platform Packer Artifact Registry",
    "description": "<p>API for managing Packer images.</p>",
    "version": "2021-04-30"
  },
  "host": "api.cloud.hashicorp.com",
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/packer/2021-04-30/organizations/{location.organization_id}/projects/{location.project_id}/builds/{build_id}": {
      "get": {
        "summary": "TODO: make it possible to query by iteration.incremental_version, not just ULID",
        "operationId": "BuildService_GetBuild",
        "responses": {
          "200": {
            "description": "<p>A successful response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "build": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "ULID"
                    },
                    "iteration_id": {
                      "type": "string",
                      "title": "ULID of the iteration"
                    },
                    "component_type": {
                      "type": "string",
                      "title": "builder or post-processor used to build this"
                    },
                    "packer_run_uuid": {
                      "type": "string"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "ULID for the image"
                          },
                          "image_id": {
                            "type": "string",
                            "description": "<p>ID or URL of the remote cloud image as given by a build.</p>"
                          },
                          "region": {
                            "type": "string",
                            "title": "region as given by `packer build`. eg. \"ap-east-1\""
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "title": "Timestamp at which this image was created"
                          }
                        },
                        "description": "<p>Represents the actual region:image_id mapping for a single image, in a\nsingle build.</p>"
                      }
                    },
                    "cloud_provider": {
                      "type": "string",
                      "title": "aws"
                    },
                    "status": {
                      "title": "complete",
                      "type": "string",
                      "enum": [
                        "UNSET",
                        "RUNNING",
                        "DONE",
                        "CANCELLED",
                        "FAILED"
                      ],
                      "default": "UNSET"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "labels": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "title": "unstructured metadata"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "<p>An unexpected error response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string",
                        "description": "<p>A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n<code>path/google.protobuf.Duration</code>). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).</p>\n<p>In practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme <code>http</code>, <code>https</code>, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:</p>\n<ul>\n<li>If no scheme is provided, <code>https</code> is assumed.</li>\n<li>An HTTP GET on the URL must yield a [google.protobuf.Type][]\nvalue in binary format, or produce an error.</li>\n<li>Applications are allowed to cache lookup results based on the\nURL, or have them precompiled into a binary to avoid any\nlookup. Therefore, binary compatibility needs to be preserved\non changes to types. (Use versioned type names to manage\nbreaking changes.)</li>\n</ul>\n<p>Note: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.</p>\n<p>Schemes other than <code>http</code>, <code>https</code> (or the empty scheme) might be\nused with implementation specific semantics.</p>"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte",
                        "description": "<p>Must be a valid serialized protocol buffer of the above specified type.</p>"
                      }
                    },
                    "description": "<p><code>Any</code> contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.</p>\n<p>Protobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.</p>\n<p>Example 1: Pack and unpack a message in C++.</p>\n<pre><code>Foo foo = ...;\nAny any;\nany.PackFrom(foo);\n...\nif (any.UnpackTo(&#x26;foo)) {\n  ...\n}\n</code></pre>\n<p>Example 2: Pack and unpack a message in Java.</p>\n<pre><code>Foo foo = ...;\nAny any = Any.pack(foo);\n...\nif (any.is(Foo.class)) {\n  foo = any.unpack(Foo.class);\n}\n</code></pre>\n<p>Example 3: Pack and unpack a message in Python.</p>\n<pre><code>foo = Foo(...)\nany = Any()\nany.Pack(foo)\n...\nif any.Is(Foo.DESCRIPTOR):\n  any.Unpack(foo)\n  ...\n</code></pre>\n<p>Example 4: Pack and unpack a message in Go</p>\n<pre><code> foo := &#x26;pb.Foo{...}\n any, err := ptypes.MarshalAny(foo)\n ...\n foo := &#x26;pb.Foo{}\n if err := ptypes.UnmarshalAny(any, foo); err != nil {\n   ...\n }\n</code></pre>\n<p>The pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".</p>\n<h1>JSON</h1>\n<p>The JSON representation of an <code>Any</code> value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field <code>@type</code> which contains the type URL. Example:</p>\n<pre><code>package google.profile;\nmessage Person {\n  string first_name = 1;\n  string last_name = 2;\n}\n\n{\n  \"@type\": \"type.googleapis.com/google.profile.Person\",\n  \"firstName\": &#x3C;string>,\n  \"lastName\": &#x3C;string>\n}\n</code></pre>\n<p>If the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n<code>value</code> which holds the custom JSON in addition to the <code>@type</code>\nfield. Example (for message [google.protobuf.Duration][]):</p>\n<pre><code>{\n  \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n  \"value\": \"1.212s\"\n}\n</code></pre>"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "<p>organization_id is the id of the organization.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "<p>project_id is the projects id.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "build_id",
            "description": "<p>build ULID</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "<p>provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").</p>",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "<p>region is the cloud region (\"us-west1\", \"us-east1\").</p>",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["PackerService"]
      },
      "delete": {
        "operationId": "BuildService_DeleteBuild",
        "responses": {
          "200": {
            "description": "<p>A successful response.</p>",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "<p>An unexpected error response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string",
                        "description": "<p>A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n<code>path/google.protobuf.Duration</code>). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).</p>\n<p>In practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme <code>http</code>, <code>https</code>, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:</p>\n<ul>\n<li>If no scheme is provided, <code>https</code> is assumed.</li>\n<li>An HTTP GET on the URL must yield a [google.protobuf.Type][]\nvalue in binary format, or produce an error.</li>\n<li>Applications are allowed to cache lookup results based on the\nURL, or have them precompiled into a binary to avoid any\nlookup. Therefore, binary compatibility needs to be preserved\non changes to types. (Use versioned type names to manage\nbreaking changes.)</li>\n</ul>\n<p>Note: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.</p>\n<p>Schemes other than <code>http</code>, <code>https</code> (or the empty scheme) might be\nused with implementation specific semantics.</p>"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte",
                        "description": "<p>Must be a valid serialized protocol buffer of the above specified type.</p>"
                      }
                    },
                    "description": "<p><code>Any</code> contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.</p>\n<p>Protobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.</p>\n<p>Example 1: Pack and unpack a message in C++.</p>\n<pre><code>Foo foo = ...;\nAny any;\nany.PackFrom(foo);\n...\nif (any.UnpackTo(&#x26;foo)) {\n  ...\n}\n</code></pre>\n<p>Example 2: Pack and unpack a message in Java.</p>\n<pre><code>Foo foo = ...;\nAny any = Any.pack(foo);\n...\nif (any.is(Foo.class)) {\n  foo = any.unpack(Foo.class);\n}\n</code></pre>\n<p>Example 3: Pack and unpack a message in Python.</p>\n<pre><code>foo = Foo(...)\nany = Any()\nany.Pack(foo)\n...\nif any.Is(Foo.DESCRIPTOR):\n  any.Unpack(foo)\n  ...\n</code></pre>\n<p>Example 4: Pack and unpack a message in Go</p>\n<pre><code> foo := &#x26;pb.Foo{...}\n any, err := ptypes.MarshalAny(foo)\n ...\n foo := &#x26;pb.Foo{}\n if err := ptypes.UnmarshalAny(any, foo); err != nil {\n   ...\n }\n</code></pre>\n<p>The pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".</p>\n<h1>JSON</h1>\n<p>The JSON representation of an <code>Any</code> value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field <code>@type</code> which contains the type URL. Example:</p>\n<pre><code>package google.profile;\nmessage Person {\n  string first_name = 1;\n  string last_name = 2;\n}\n\n{\n  \"@type\": \"type.googleapis.com/google.profile.Person\",\n  \"firstName\": &#x3C;string>,\n  \"lastName\": &#x3C;string>\n}\n</code></pre>\n<p>If the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n<code>value</code> which holds the custom JSON in addition to the <code>@type</code>\nfield. Example (for message [google.protobuf.Duration][]):</p>\n<pre><code>{\n  \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n  \"value\": \"1.212s\"\n}\n</code></pre>"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "<p>organization_id is the id of the organization.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "<p>project_id is the projects id.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "build_id",
            "description": "<p>build ULID</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "<p>provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").</p>",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "<p>region is the cloud region (\"us-west1\", \"us-east1\").</p>",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["PackerService"]
      },
      "patch": {
        "operationId": "BuildService_UpdateBuild",
        "responses": {
          "200": {
            "description": "<p>A successful response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "build": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "ULID"
                    },
                    "iteration_id": {
                      "type": "string",
                      "title": "ULID of the iteration"
                    },
                    "component_type": {
                      "type": "string",
                      "title": "builder or post-processor used to build this"
                    },
                    "packer_run_uuid": {
                      "type": "string"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "ULID for the image"
                          },
                          "image_id": {
                            "type": "string",
                            "description": "<p>ID or URL of the remote cloud image as given by a build.</p>"
                          },
                          "region": {
                            "type": "string",
                            "title": "region as given by `packer build`. eg. \"ap-east-1\""
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "title": "Timestamp at which this image was created"
                          }
                        },
                        "description": "<p>Represents the actual region:image_id mapping for a single image, in a\nsingle build.</p>"
                      }
                    },
                    "cloud_provider": {
                      "type": "string",
                      "title": "aws"
                    },
                    "status": {
                      "title": "complete",
                      "type": "string",
                      "enum": [
                        "UNSET",
                        "RUNNING",
                        "DONE",
                        "CANCELLED",
                        "FAILED"
                      ],
                      "default": "UNSET"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "labels": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "title": "unstructured metadata"
                    }
                  },
                  "title": "custom build info"
                }
              }
            }
          },
          "default": {
            "description": "<p>An unexpected error response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string",
                        "description": "<p>A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n<code>path/google.protobuf.Duration</code>). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).</p>\n<p>In practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme <code>http</code>, <code>https</code>, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:</p>\n<ul>\n<li>If no scheme is provided, <code>https</code> is assumed.</li>\n<li>An HTTP GET on the URL must yield a [google.protobuf.Type][]\nvalue in binary format, or produce an error.</li>\n<li>Applications are allowed to cache lookup results based on the\nURL, or have them precompiled into a binary to avoid any\nlookup. Therefore, binary compatibility needs to be preserved\non changes to types. (Use versioned type names to manage\nbreaking changes.)</li>\n</ul>\n<p>Note: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.</p>\n<p>Schemes other than <code>http</code>, <code>https</code> (or the empty scheme) might be\nused with implementation specific semantics.</p>"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte",
                        "description": "<p>Must be a valid serialized protocol buffer of the above specified type.</p>"
                      }
                    },
                    "description": "<p><code>Any</code> contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.</p>\n<p>Protobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.</p>\n<p>Example 1: Pack and unpack a message in C++.</p>\n<pre><code>Foo foo = ...;\nAny any;\nany.PackFrom(foo);\n...\nif (any.UnpackTo(&#x26;foo)) {\n  ...\n}\n</code></pre>\n<p>Example 2: Pack and unpack a message in Java.</p>\n<pre><code>Foo foo = ...;\nAny any = Any.pack(foo);\n...\nif (any.is(Foo.class)) {\n  foo = any.unpack(Foo.class);\n}\n</code></pre>\n<p>Example 3: Pack and unpack a message in Python.</p>\n<pre><code>foo = Foo(...)\nany = Any()\nany.Pack(foo)\n...\nif any.Is(Foo.DESCRIPTOR):\n  any.Unpack(foo)\n  ...\n</code></pre>\n<p>Example 4: Pack and unpack a message in Go</p>\n<pre><code> foo := &#x26;pb.Foo{...}\n any, err := ptypes.MarshalAny(foo)\n ...\n foo := &#x26;pb.Foo{}\n if err := ptypes.UnmarshalAny(any, foo); err != nil {\n   ...\n }\n</code></pre>\n<p>The pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".</p>\n<h1>JSON</h1>\n<p>The JSON representation of an <code>Any</code> value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field <code>@type</code> which contains the type URL. Example:</p>\n<pre><code>package google.profile;\nmessage Person {\n  string first_name = 1;\n  string last_name = 2;\n}\n\n{\n  \"@type\": \"type.googleapis.com/google.profile.Person\",\n  \"firstName\": &#x3C;string>,\n  \"lastName\": &#x3C;string>\n}\n</code></pre>\n<p>If the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n<code>value</code> which holds the custom JSON in addition to the <code>@type</code>\nfield. Example (for message [google.protobuf.Duration][]):</p>\n<pre><code>{\n  \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n  \"value\": \"1.212s\"\n}\n</code></pre>"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "<p>organization_id is the id of the organization.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "<p>project_id is the projects id.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "build_id",
            "description": "<p>build ULID</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "title": "org and project info",
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "<p>organization_id is the id of the organization.</p>"
                    },
                    "project_id": {
                      "type": "string",
                      "description": "<p>project_id is the projects id.</p>"
                    },
                    "region": {
                      "description": "<p>region is the region that the resource is located in. It is\noptional if the object being referenced is a global object.</p>",
                      "type": "object",
                      "properties": {
                        "provider": {
                          "type": "string",
                          "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
                        },
                        "region": {
                          "type": "string",
                          "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
                        }
                      }
                    }
                  },
                  "description": "<p>Location represents a target for an operation in HCP.</p>"
                },
                "build_id": {
                  "type": "string",
                  "title": "build ULID"
                },
                "updates": {
                  "title": "custom build info",
                  "type": "object",
                  "properties": {
                    "status": {
                      "title": "Running, Done, Failed",
                      "type": "string",
                      "enum": [
                        "UNSET",
                        "RUNNING",
                        "DONE",
                        "CANCELLED",
                        "FAILED"
                      ],
                      "default": "UNSET"
                    },
                    "cloud_provider": {
                      "type": "string",
                      "description": "<p>aws, gcp, etc.</p>"
                    },
                    "packer_run_uuid": {
                      "type": "string",
                      "description": "<p>Packer build run UUID can change because we may be updating a build that\npreviously failed.</p>"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "ULID for the image"
                          },
                          "image_id": {
                            "type": "string",
                            "description": "<p>ID or URL of the remote cloud image as given by a build.</p>"
                          },
                          "region": {
                            "type": "string",
                            "title": "region as given by `packer build`. eg. \"ap-east-1\""
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "title": "Timestamp at which this image was created"
                          }
                        },
                        "description": "<p>Represents the actual region:image_id mapping for a single image, in a\nsingle build.</p>"
                      },
                      "description": "<p>The length of this list determines how many\nrows this combination of iteration_id and builder_type have in the\nbuild table.</p>"
                    },
                    "labels": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "<p>Labels to add to the build.</p>"
                    }
                  },
                  "description": "<p>BuildUpdates is used to group the elements of a Build that are\nallowed to be updated after the build has been created. It is part of the\nUpdateBuildRequest.</p>"
                }
              }
            }
          }
        ],
        "tags": ["PackerService"]
      }
    },
    "/packer/2021-04-30/organizations/{location.organization_id}/projects/{location.project_id}/images": {
      "get": {
        "operationId": "BucketService_ListBuckets",
        "responses": {
          "200": {
            "description": "<p>A successful response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "buckets": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "ULID"
                      },
                      "slug": {
                        "type": "string",
                        "title": "base-ubuntu-18-secure"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "organization_id": {
                            "type": "string",
                            "description": "<p>organization_id is the id of the organization.</p>"
                          },
                          "project_id": {
                            "type": "string",
                            "description": "<p>project_id is the projects id.</p>"
                          },
                          "region": {
                            "description": "<p>region is the region that the resource is located in. It is\noptional if the object being referenced is a global object.</p>",
                            "type": "object",
                            "properties": {
                              "provider": {
                                "type": "string",
                                "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
                              },
                              "region": {
                                "type": "string",
                                "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
                              }
                            }
                          }
                        },
                        "description": "<p>Location represents a target for an operation in HCP.</p>"
                      },
                      "latest_iteration": {
                        "title": "latest iteration regardless of completion status",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "ULID"
                          },
                          "bucket_slug": {
                            "type": "string",
                            "title": "same bucket_slug as in the Bucket object"
                          },
                          "iteration_ancestor_id": {
                            "type": "string",
                            "title": "what image was used as source"
                          },
                          "incremental_version": {
                            "type": "integer",
                            "format": "int32",
                            "title": "e.g 15"
                          },
                          "complete": {
                            "type": "boolean",
                            "description": "<p>If true, this iteration is considered \"ready to use\" and will be\nreturned even if the include_incomplete flage is \"false\" in the\nlist iterations request.</p>"
                          },
                          "author_id": {
                            "type": "string",
                            "title": "who created the iteration"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "title": "when iteration was created or updated"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fingerprint": {
                            "type": "string",
                            "description": "<p>fingerprint of the build; this will allow to regroup image builds under\nthe same iteration. So it could be for example a git sha.</p>"
                          },
                          "builds": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "title": "ULID"
                                },
                                "iteration_id": {
                                  "type": "string",
                                  "title": "ULID of the iteration"
                                },
                                "component_type": {
                                  "type": "string",
                                  "title": "builder or post-processor used to build this"
                                },
                                "packer_run_uuid": {
                                  "type": "string"
                                },
                                "images": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "title": "ULID for the image"
                                      },
                                      "image_id": {
                                        "type": "string",
                                        "description": "<p>ID or URL of the remote cloud image as given by a build.</p>"
                                      },
                                      "region": {
                                        "type": "string",
                                        "title": "region as given by `packer build`. eg. \"ap-east-1\""
                                      },
                                      "created_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "title": "Timestamp at which this image was created"
                                      }
                                    },
                                    "description": "<p>Represents the actual region:image_id mapping for a single image, in a\nsingle build.</p>"
                                  }
                                },
                                "cloud_provider": {
                                  "type": "string",
                                  "title": "aws"
                                },
                                "status": {
                                  "title": "complete",
                                  "type": "string",
                                  "enum": [
                                    "UNSET",
                                    "RUNNING",
                                    "DONE",
                                    "CANCELLED",
                                    "FAILED"
                                  ],
                                  "default": "UNSET"
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "labels": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "title": "unstructured metadata"
                                }
                              }
                            },
                            "title": "link to set of builds for an image iteration"
                          }
                        }
                      },
                      "latest_version": {
                        "type": "integer",
                        "format": "int32",
                        "title": "latest completed version"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "platforms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "[\"aws\", \"gcp\"]"
                      },
                      "description": {},
                      "labels": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "title": "Slot for unstructured metadata tags\nfor example {\"repo\": \"https://github.com/hashicorp/common\"}"
                      },
                      "iteration_count": {
                        "type": "string",
                        "format": "int64",
                        "description": "<p>number of total iterations (not just versions), for UI.</p>"
                      }
                    }
                  }
                },
                "pagination": {
                  "description": "<p>pagination contains the pagination tokens for a subsequent request.</p>",
                  "type": "object",
                  "properties": {
                    "next_page_token": {
                      "type": "string",
                      "description": "<p>This token allows you to get the next page of results for list requests.\nIf the number of results is larger than <code>page_size</code>, use the\n<code>next_page_token</code> as a value for the query parameter <code>next_page_token</code> in\nthe next request. The value will become empty when there are no more pages.</p>"
                    },
                    "previous_page_token": {
                      "type": "string",
                      "description": "<p>This token allows you to get the previous page of results for list\nrequests. If the number of results is larger than <code>page_size</code>, use the\n<code>previous_page_token</code> as a value for the query parameter\n<code>previous_page_token</code> in the next request. The value will become empty when\nthere are no more pages.</p>"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "<p>An unexpected error response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string",
                        "description": "<p>A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n<code>path/google.protobuf.Duration</code>). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).</p>\n<p>In practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme <code>http</code>, <code>https</code>, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:</p>\n<ul>\n<li>If no scheme is provided, <code>https</code> is assumed.</li>\n<li>An HTTP GET on the URL must yield a [google.protobuf.Type][]\nvalue in binary format, or produce an error.</li>\n<li>Applications are allowed to cache lookup results based on the\nURL, or have them precompiled into a binary to avoid any\nlookup. Therefore, binary compatibility needs to be preserved\non changes to types. (Use versioned type names to manage\nbreaking changes.)</li>\n</ul>\n<p>Note: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.</p>\n<p>Schemes other than <code>http</code>, <code>https</code> (or the empty scheme) might be\nused with implementation specific semantics.</p>"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte",
                        "description": "<p>Must be a valid serialized protocol buffer of the above specified type.</p>"
                      }
                    },
                    "description": "<p><code>Any</code> contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.</p>\n<p>Protobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.</p>\n<p>Example 1: Pack and unpack a message in C++.</p>\n<pre><code>Foo foo = ...;\nAny any;\nany.PackFrom(foo);\n...\nif (any.UnpackTo(&#x26;foo)) {\n  ...\n}\n</code></pre>\n<p>Example 2: Pack and unpack a message in Java.</p>\n<pre><code>Foo foo = ...;\nAny any = Any.pack(foo);\n...\nif (any.is(Foo.class)) {\n  foo = any.unpack(Foo.class);\n}\n</code></pre>\n<p>Example 3: Pack and unpack a message in Python.</p>\n<pre><code>foo = Foo(...)\nany = Any()\nany.Pack(foo)\n...\nif any.Is(Foo.DESCRIPTOR):\n  any.Unpack(foo)\n  ...\n</code></pre>\n<p>Example 4: Pack and unpack a message in Go</p>\n<pre><code> foo := &#x26;pb.Foo{...}\n any, err := ptypes.MarshalAny(foo)\n ...\n foo := &#x26;pb.Foo{}\n if err := ptypes.UnmarshalAny(any, foo); err != nil {\n   ...\n }\n</code></pre>\n<p>The pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".</p>\n<h1>JSON</h1>\n<p>The JSON representation of an <code>Any</code> value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field <code>@type</code> which contains the type URL. Example:</p>\n<pre><code>package google.profile;\nmessage Person {\n  string first_name = 1;\n  string last_name = 2;\n}\n\n{\n  \"@type\": \"type.googleapis.com/google.profile.Person\",\n  \"firstName\": &#x3C;string>,\n  \"lastName\": &#x3C;string>\n}\n</code></pre>\n<p>If the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n<code>value</code> which holds the custom JSON in addition to the <code>@type</code>\nfield. Example (for message [google.protobuf.Duration][]):</p>\n<pre><code>{\n  \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n  \"value\": \"1.212s\"\n}\n</code></pre>"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "<p>organization_id is the id of the organization.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "<p>project_id is the projects id.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "<p>provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").</p>",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "<p>region is the cloud region (\"us-west1\", \"us-east1\").</p>",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "<p>The max number of results per page that should be returned. If the number\nof available results is larger than <code>page_size</code>, a <code>next_page_token</code> is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause <code>page_size</code> to be defaulted.</p>",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "<p>Specifies a page token to use to retrieve the next page. Set this to the\n<code>next_page_token</code> returned by previous list requests to get the next page of\nresults. If set, <code>previous_page_token</code> must not be set.</p>",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "<p>Specifies a page token to use to retrieve the previous page. Set this to\nthe <code>previous_page_token</code> returned by previous list requests to get the\nprevious page of results. If set, <code>next_page_token</code> must not be set.</p>",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sorting.order_by",
            "description": "<p>Specifies the list of per field ordering that should be used for sorting.\nThe order matters as rows are sorted in order by fields and when the field\nmatches, the next field is used to tie break the ordering.\nThe per field default ordering is ascending.</p>\n<p>The fields should be immutabile, unique, and orderable. If the field is\nnot unique, more than one sort fields should be passed.</p>\n<p>Example: oder_by=name,age desc,created_at asc\nIn that case, 'name' will get the default 'ascending' order.</p>",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": ["PackerService"]
      },
      "put": {
        "summary": "Operations realted to images\n-------------------------------------------------------------------------",
        "operationId": "BucketService_CreateBucket",
        "responses": {
          "200": {
            "description": "<p>A successful response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "bucket": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "ULID"
                    },
                    "slug": {
                      "type": "string",
                      "title": "base-ubuntu-18-secure"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "organization_id": {
                          "type": "string",
                          "description": "<p>organization_id is the id of the organization.</p>"
                        },
                        "project_id": {
                          "type": "string",
                          "description": "<p>project_id is the projects id.</p>"
                        },
                        "region": {
                          "description": "<p>region is the region that the resource is located in. It is\noptional if the object being referenced is a global object.</p>",
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string",
                              "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
                            },
                            "region": {
                              "type": "string",
                              "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
                            }
                          }
                        }
                      },
                      "description": "<p>Location represents a target for an operation in HCP.</p>"
                    },
                    "latest_iteration": {
                      "title": "latest iteration regardless of completion status",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "title": "ULID"
                        },
                        "bucket_slug": {
                          "type": "string",
                          "title": "same bucket_slug as in the Bucket object"
                        },
                        "iteration_ancestor_id": {
                          "type": "string",
                          "title": "what image was used as source"
                        },
                        "incremental_version": {
                          "type": "integer",
                          "format": "int32",
                          "title": "e.g 15"
                        },
                        "complete": {
                          "type": "boolean",
                          "description": "<p>If true, this iteration is considered \"ready to use\" and will be\nreturned even if the include_incomplete flage is \"false\" in the\nlist iterations request.</p>"
                        },
                        "author_id": {
                          "type": "string",
                          "title": "who created the iteration"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "title": "when iteration was created or updated"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "<p>fingerprint of the build; this will allow to regroup image builds under\nthe same iteration. So it could be for example a git sha.</p>"
                        },
                        "builds": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "title": "ULID"
                              },
                              "iteration_id": {
                                "type": "string",
                                "title": "ULID of the iteration"
                              },
                              "component_type": {
                                "type": "string",
                                "title": "builder or post-processor used to build this"
                              },
                              "packer_run_uuid": {
                                "type": "string"
                              },
                              "images": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "title": "ULID for the image"
                                    },
                                    "image_id": {
                                      "type": "string",
                                      "description": "<p>ID or URL of the remote cloud image as given by a build.</p>"
                                    },
                                    "region": {
                                      "type": "string",
                                      "title": "region as given by `packer build`. eg. \"ap-east-1\""
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time",
                                      "title": "Timestamp at which this image was created"
                                    }
                                  },
                                  "description": "<p>Represents the actual region:image_id mapping for a single image, in a\nsingle build.</p>"
                                }
                              },
                              "cloud_provider": {
                                "type": "string",
                                "title": "aws"
                              },
                              "status": {
                                "title": "complete",
                                "type": "string",
                                "enum": [
                                  "UNSET",
                                  "RUNNING",
                                  "DONE",
                                  "CANCELLED",
                                  "FAILED"
                                ],
                                "default": "UNSET"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "labels": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "title": "unstructured metadata"
                              }
                            }
                          },
                          "title": "link to set of builds for an image iteration"
                        }
                      }
                    },
                    "latest_version": {
                      "type": "integer",
                      "format": "int32",
                      "title": "latest completed version"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "platforms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "[\"aws\", \"gcp\"]"
                    },
                    "description": {},
                    "labels": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "title": "Slot for unstructured metadata tags\nfor example {\"repo\": \"https://github.com/hashicorp/common\"}"
                    },
                    "iteration_count": {
                      "type": "string",
                      "format": "int64",
                      "description": "<p>number of total iterations (not just versions), for UI.</p>"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "<p>An unexpected error response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string",
                        "description": "<p>A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n<code>path/google.protobuf.Duration</code>). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).</p>\n<p>In practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme <code>http</code>, <code>https</code>, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:</p>\n<ul>\n<li>If no scheme is provided, <code>https</code> is assumed.</li>\n<li>An HTTP GET on the URL must yield a [google.protobuf.Type][]\nvalue in binary format, or produce an error.</li>\n<li>Applications are allowed to cache lookup results based on the\nURL, or have them precompiled into a binary to avoid any\nlookup. Therefore, binary compatibility needs to be preserved\non changes to types. (Use versioned type names to manage\nbreaking changes.)</li>\n</ul>\n<p>Note: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.</p>\n<p>Schemes other than <code>http</code>, <code>https</code> (or the empty scheme) might be\nused with implementation specific semantics.</p>"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte",
                        "description": "<p>Must be a valid serialized protocol buffer of the above specified type.</p>"
                      }
                    },
                    "description": "<p><code>Any</code> contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.</p>\n<p>Protobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.</p>\n<p>Example 1: Pack and unpack a message in C++.</p>\n<pre><code>Foo foo = ...;\nAny any;\nany.PackFrom(foo);\n...\nif (any.UnpackTo(&#x26;foo)) {\n  ...\n}\n</code></pre>\n<p>Example 2: Pack and unpack a message in Java.</p>\n<pre><code>Foo foo = ...;\nAny any = Any.pack(foo);\n...\nif (any.is(Foo.class)) {\n  foo = any.unpack(Foo.class);\n}\n</code></pre>\n<p>Example 3: Pack and unpack a message in Python.</p>\n<pre><code>foo = Foo(...)\nany = Any()\nany.Pack(foo)\n...\nif any.Is(Foo.DESCRIPTOR):\n  any.Unpack(foo)\n  ...\n</code></pre>\n<p>Example 4: Pack and unpack a message in Go</p>\n<pre><code> foo := &#x26;pb.Foo{...}\n any, err := ptypes.MarshalAny(foo)\n ...\n foo := &#x26;pb.Foo{}\n if err := ptypes.UnmarshalAny(any, foo); err != nil {\n   ...\n }\n</code></pre>\n<p>The pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".</p>\n<h1>JSON</h1>\n<p>The JSON representation of an <code>Any</code> value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field <code>@type</code> which contains the type URL. Example:</p>\n<pre><code>package google.profile;\nmessage Person {\n  string first_name = 1;\n  string last_name = 2;\n}\n\n{\n  \"@type\": \"type.googleapis.com/google.profile.Person\",\n  \"firstName\": &#x3C;string>,\n  \"lastName\": &#x3C;string>\n}\n</code></pre>\n<p>If the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n<code>value</code> which holds the custom JSON in addition to the <code>@type</code>\nfield. Example (for message [google.protobuf.Duration][]):</p>\n<pre><code>{\n  \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n  \"value\": \"1.212s\"\n}\n</code></pre>"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "<p>organization_id is the id of the organization.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "<p>project_id is the projects id.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "bucket_slug": {
                  "type": "string"
                },
                "description": {},
                "labels": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "<p>organization_id is the id of the organization.</p>"
                    },
                    "project_id": {
                      "type": "string",
                      "description": "<p>project_id is the projects id.</p>"
                    },
                    "region": {
                      "description": "<p>region is the region that the resource is located in. It is\noptional if the object being referenced is a global object.</p>",
                      "type": "object",
                      "properties": {
                        "provider": {
                          "type": "string",
                          "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
                        },
                        "region": {
                          "type": "string",
                          "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
                        }
                      }
                    }
                  },
                  "description": "<p>Location represents a target for an operation in HCP.</p>"
                }
              }
            }
          }
        ],
        "tags": ["PackerService"]
      }
    },
    "/packer/2021-04-30/organizations/{location.organization_id}/projects/{location.project_id}/images/{bucket_slug}": {
      "get": {
        "operationId": "BucketService_GetBucket",
        "responses": {
          "200": {
            "description": "<p>A successful response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "bucket": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "ULID"
                    },
                    "slug": {
                      "type": "string",
                      "title": "base-ubuntu-18-secure"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "organization_id": {
                          "type": "string",
                          "description": "<p>organization_id is the id of the organization.</p>"
                        },
                        "project_id": {
                          "type": "string",
                          "description": "<p>project_id is the projects id.</p>"
                        },
                        "region": {
                          "description": "<p>region is the region that the resource is located in. It is\noptional if the object being referenced is a global object.</p>",
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string",
                              "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
                            },
                            "region": {
                              "type": "string",
                              "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
                            }
                          }
                        }
                      },
                      "description": "<p>Location represents a target for an operation in HCP.</p>"
                    },
                    "latest_iteration": {
                      "title": "latest iteration regardless of completion status",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "title": "ULID"
                        },
                        "bucket_slug": {
                          "type": "string",
                          "title": "same bucket_slug as in the Bucket object"
                        },
                        "iteration_ancestor_id": {
                          "type": "string",
                          "title": "what image was used as source"
                        },
                        "incremental_version": {
                          "type": "integer",
                          "format": "int32",
                          "title": "e.g 15"
                        },
                        "complete": {
                          "type": "boolean",
                          "description": "<p>If true, this iteration is considered \"ready to use\" and will be\nreturned even if the include_incomplete flage is \"false\" in the\nlist iterations request.</p>"
                        },
                        "author_id": {
                          "type": "string",
                          "title": "who created the iteration"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "title": "when iteration was created or updated"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "<p>fingerprint of the build; this will allow to regroup image builds under\nthe same iteration. So it could be for example a git sha.</p>"
                        },
                        "builds": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "title": "ULID"
                              },
                              "iteration_id": {
                                "type": "string",
                                "title": "ULID of the iteration"
                              },
                              "component_type": {
                                "type": "string",
                                "title": "builder or post-processor used to build this"
                              },
                              "packer_run_uuid": {
                                "type": "string"
                              },
                              "images": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "title": "ULID for the image"
                                    },
                                    "image_id": {
                                      "type": "string",
                                      "description": "<p>ID or URL of the remote cloud image as given by a build.</p>"
                                    },
                                    "region": {
                                      "type": "string",
                                      "title": "region as given by `packer build`. eg. \"ap-east-1\""
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time",
                                      "title": "Timestamp at which this image was created"
                                    }
                                  },
                                  "description": "<p>Represents the actual region:image_id mapping for a single image, in a\nsingle build.</p>"
                                }
                              },
                              "cloud_provider": {
                                "type": "string",
                                "title": "aws"
                              },
                              "status": {
                                "title": "complete",
                                "type": "string",
                                "enum": [
                                  "UNSET",
                                  "RUNNING",
                                  "DONE",
                                  "CANCELLED",
                                  "FAILED"
                                ],
                                "default": "UNSET"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "labels": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "title": "unstructured metadata"
                              }
                            }
                          },
                          "title": "link to set of builds for an image iteration"
                        }
                      }
                    },
                    "latest_version": {
                      "type": "integer",
                      "format": "int32",
                      "title": "latest completed version"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "platforms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "[\"aws\", \"gcp\"]"
                    },
                    "description": {},
                    "labels": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "title": "Slot for unstructured metadata tags\nfor example {\"repo\": \"https://github.com/hashicorp/common\"}"
                    },
                    "iteration_count": {
                      "type": "string",
                      "format": "int64",
                      "description": "<p>number of total iterations (not just versions), for UI.</p>"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "<p>An unexpected error response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string",
                        "description": "<p>A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n<code>path/google.protobuf.Duration</code>). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).</p>\n<p>In practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme <code>http</code>, <code>https</code>, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:</p>\n<ul>\n<li>If no scheme is provided, <code>https</code> is assumed.</li>\n<li>An HTTP GET on the URL must yield a [google.protobuf.Type][]\nvalue in binary format, or produce an error.</li>\n<li>Applications are allowed to cache lookup results based on the\nURL, or have them precompiled into a binary to avoid any\nlookup. Therefore, binary compatibility needs to be preserved\non changes to types. (Use versioned type names to manage\nbreaking changes.)</li>\n</ul>\n<p>Note: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.</p>\n<p>Schemes other than <code>http</code>, <code>https</code> (or the empty scheme) might be\nused with implementation specific semantics.</p>"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte",
                        "description": "<p>Must be a valid serialized protocol buffer of the above specified type.</p>"
                      }
                    },
                    "description": "<p><code>Any</code> contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.</p>\n<p>Protobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.</p>\n<p>Example 1: Pack and unpack a message in C++.</p>\n<pre><code>Foo foo = ...;\nAny any;\nany.PackFrom(foo);\n...\nif (any.UnpackTo(&#x26;foo)) {\n  ...\n}\n</code></pre>\n<p>Example 2: Pack and unpack a message in Java.</p>\n<pre><code>Foo foo = ...;\nAny any = Any.pack(foo);\n...\nif (any.is(Foo.class)) {\n  foo = any.unpack(Foo.class);\n}\n</code></pre>\n<p>Example 3: Pack and unpack a message in Python.</p>\n<pre><code>foo = Foo(...)\nany = Any()\nany.Pack(foo)\n...\nif any.Is(Foo.DESCRIPTOR):\n  any.Unpack(foo)\n  ...\n</code></pre>\n<p>Example 4: Pack and unpack a message in Go</p>\n<pre><code> foo := &#x26;pb.Foo{...}\n any, err := ptypes.MarshalAny(foo)\n ...\n foo := &#x26;pb.Foo{}\n if err := ptypes.UnmarshalAny(any, foo); err != nil {\n   ...\n }\n</code></pre>\n<p>The pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".</p>\n<h1>JSON</h1>\n<p>The JSON representation of an <code>Any</code> value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field <code>@type</code> which contains the type URL. Example:</p>\n<pre><code>package google.profile;\nmessage Person {\n  string first_name = 1;\n  string last_name = 2;\n}\n\n{\n  \"@type\": \"type.googleapis.com/google.profile.Person\",\n  \"firstName\": &#x3C;string>,\n  \"lastName\": &#x3C;string>\n}\n</code></pre>\n<p>If the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n<code>value</code> which holds the custom JSON in addition to the <code>@type</code>\nfield. Example (for message [google.protobuf.Duration][]):</p>\n<pre><code>{\n  \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n  \"value\": \"1.212s\"\n}\n</code></pre>"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "<p>organization_id is the id of the organization.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "<p>project_id is the projects id.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bucket_slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "<p>provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").</p>",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "<p>region is the cloud region (\"us-west1\", \"us-east1\").</p>",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "bucket_id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["PackerService"]
      },
      "delete": {
        "operationId": "BucketService_DeleteBucket",
        "responses": {
          "200": {
            "description": "<p>A successful response.</p>",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "<p>An unexpected error response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string",
                        "description": "<p>A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n<code>path/google.protobuf.Duration</code>). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).</p>\n<p>In practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme <code>http</code>, <code>https</code>, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:</p>\n<ul>\n<li>If no scheme is provided, <code>https</code> is assumed.</li>\n<li>An HTTP GET on the URL must yield a [google.protobuf.Type][]\nvalue in binary format, or produce an error.</li>\n<li>Applications are allowed to cache lookup results based on the\nURL, or have them precompiled into a binary to avoid any\nlookup. Therefore, binary compatibility needs to be preserved\non changes to types. (Use versioned type names to manage\nbreaking changes.)</li>\n</ul>\n<p>Note: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.</p>\n<p>Schemes other than <code>http</code>, <code>https</code> (or the empty scheme) might be\nused with implementation specific semantics.</p>"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte",
                        "description": "<p>Must be a valid serialized protocol buffer of the above specified type.</p>"
                      }
                    },
                    "description": "<p><code>Any</code> contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.</p>\n<p>Protobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.</p>\n<p>Example 1: Pack and unpack a message in C++.</p>\n<pre><code>Foo foo = ...;\nAny any;\nany.PackFrom(foo);\n...\nif (any.UnpackTo(&#x26;foo)) {\n  ...\n}\n</code></pre>\n<p>Example 2: Pack and unpack a message in Java.</p>\n<pre><code>Foo foo = ...;\nAny any = Any.pack(foo);\n...\nif (any.is(Foo.class)) {\n  foo = any.unpack(Foo.class);\n}\n</code></pre>\n<p>Example 3: Pack and unpack a message in Python.</p>\n<pre><code>foo = Foo(...)\nany = Any()\nany.Pack(foo)\n...\nif any.Is(Foo.DESCRIPTOR):\n  any.Unpack(foo)\n  ...\n</code></pre>\n<p>Example 4: Pack and unpack a message in Go</p>\n<pre><code> foo := &#x26;pb.Foo{...}\n any, err := ptypes.MarshalAny(foo)\n ...\n foo := &#x26;pb.Foo{}\n if err := ptypes.UnmarshalAny(any, foo); err != nil {\n   ...\n }\n</code></pre>\n<p>The pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".</p>\n<h1>JSON</h1>\n<p>The JSON representation of an <code>Any</code> value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field <code>@type</code> which contains the type URL. Example:</p>\n<pre><code>package google.profile;\nmessage Person {\n  string first_name = 1;\n  string last_name = 2;\n}\n\n{\n  \"@type\": \"type.googleapis.com/google.profile.Person\",\n  \"firstName\": &#x3C;string>,\n  \"lastName\": &#x3C;string>\n}\n</code></pre>\n<p>If the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n<code>value</code> which holds the custom JSON in addition to the <code>@type</code>\nfield. Example (for message [google.protobuf.Duration][]):</p>\n<pre><code>{\n  \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n  \"value\": \"1.212s\"\n}\n</code></pre>"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "<p>organization_id is the id of the organization.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "<p>project_id is the projects id.</p>",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bucket_slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "<p>provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").</p>",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "<p>region is the cloud region (\"us-west1\", \"us-east1\").</p>",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["PackerService"]
      },
      "patch": {
        "operationId": "BucketService_UpdateBucket",
        "responses": {
          "200": {
            "description": "<p>A successful response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "bucket": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "ULID"
                    },
                    "slug": {
                      "type": "string",
                      "title": "base-ubuntu-18-secure"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "organization_id": {
                          "type": "string",
                          "description": "<p>organization_id is the id of the organization.</p>"
                        },
                        "project_id": {
                          "type": "string",
                          "description": "<p>project_id is the projects id.</p>"
                        },
                        "region": {
                          "description": "<p>region is the region that the resource is located in. It is\noptional if the object being referenced is a global object.</p>",
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string",
                              "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
                            },
                            "region": {
                              "type": "string",
                              "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
                            }
                          }
                        }
                      },
                      "description": "<p>Location represents a target for an operation in HCP.</p>"
                    },
                    "latest_iteration": {
                      "title": "latest iteration regardless of completion status",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "title": "ULID"
                        },
                        "bucket_slug": {
                          "type": "string",
                          "title": "same bucket_slug as in the Bucket object"
                        },
                        "iteration_ancestor_id": {
                          "type": "string",
                          "title": "what image was used as source"
                        },
                        "incremental_version": {
                          "type": "integer",
                          "format": "int32",
                          "title": "e.g 15"
                        },
                        "complete": {
                          "type": "boolean",
                          "description": "<p>If true, this iteration is considered \"ready to use\" and will be\nreturned even if the include_incomplete flage is \"false\" in the\nlist iterations request.</p>"
                        },
                        "author_id": {
                          "type": "string",
                          "title": "who created the iteration"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "title": "when iteration was created or updated"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "<p>fingerprint of the build; this will allow to regroup image builds under\nthe same iteration. So it could be for example a git sha.</p>"
                        },
                        "builds": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "title": "ULID"
                              },
                              "iteration_id": {
                                "type": "string",
                                "title": "ULID of the iteration"
                              },
                              "component_type": {
                                "type": "string",
                                "title": "builder or post-processor used to build this"
                              },
                              "packer_run_uuid": {
                                "type": "string"
                              },
                              "images": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "title": "ULID for the image"
                                    },
                                    "image_id": {
                                      "type": "string",
                                      "description": "<p>ID or URL of the remote cloud image as given by a build.</p>"
                                    },
                                    "region": {
                                      "type": "string",
                                      "title": "region as given by `packer build`. eg. \"ap-east-1\""
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time",
                                      "title": "Timestamp at which this image was created"
                                    }
                                  },
                                  "description": "<p>Represents the actual region:image_id mapping for a single image, in a\nsingle build.</p>"
                                }
                              },
                              "cloud_provider": {
                                "type": "string",
                                "title": "aws"
                              },
                              "status": {
                                "title": "complete",
                                "type": "string",
                                "enum": [
                                  "UNSET",
                                  "RUNNING",
                                  "DONE",
                                  "CANCELLED",
                                  "FAILED"
                                ],
                                "default": "UNSET"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "labels": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "title": "unstructured metadata"
                              }
                            }
                          },
                          "title": "link to set of builds for an image iteration"
                        }
                      }
                    },
                    "latest_version": {
                      "type": "integer",
                      "format": "int32",
                      "title": "latest completed version"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "platforms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "[\"aws\", \"gcp\"]"
                    },
                    "description": {},
                    "labels": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "title": "Slot for unstructured metadata tags\nfor example {\"repo\": \"https://github.com/hashicorp/common\"}"
                    },
                    "iteration_count": {
                      "type": "string",
                      "format": "int64",
                      "description": "<p>number of total iterations (not just versions), for UI.</p>"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "<p>An unexpected error response.</p>",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string",
[...]
