.root {
  @media (--large) {
    display: flex;
    margin: 0 -16px;
  }
}

.useCase {
  background: var(--white);
  border: 1px solid var(--gray-5);
  border-radius: 3px;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.25s, transform 0.25s;
  width: 100%;

  @media (--large) {
    margin: 0 16px;
  }

  &:hover {
    box-shadow: 0 16px 28px rgba(37, 38, 45, 0.12);
    transform: translateY(-4px);
  }

  & + .useCase {
    margin-top: 32px;

    @media (--large) {
      margin: 0 16px;
    }
  }
}

.content {
  display: block;
  padding: 56px 32px 32px;

  @media (--medium) {
    display: flex;
    padding: 0;
  }
}

.icon {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;

  @media (--medium) {
    margin: 32px 8px 32px 32px;
    width: auto;
    flex-shrink: 1;
  }

  & picture {
    height: 100%;
    text-align: center;
    width: 100%;
  }

  & img {
    height: 100%;
  }
}

.text {
  text-align: center;
  width: 100%;

  @media (--medium) {
    padding: 32px;
    text-align: left;
  }

  @media (--large) {
    padding: 0;
  }

  & p {
    color: var(--gray-2);

    &:last-child {
      margin: 0;
    }
  }
}

.title {
  composes: g-type-display-4 from global;
  margin: 0 0 8px;
}

.fauxLink {
  composes: g-type-buttons-and-standalone-links from global;
  border-top: 1px solid var(--gray-5);
  padding: 23px;
  text-align: center;
}

.fauxLinkArrow {
  display: inline;

  & svg {
    margin-left: 8px;
  }

  & path {
    fill: var(--black);
  }
}
