.buttonClose {
  --size: 24px;
  --color: var(--gray-3);
  --background-color: transparent;

  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--background-color);
  color: var(--color);
  display: grid;
  place-items: center;
  width: var(--size);
  height: var(--size);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s ease;
  transition-property: color, background-color;

  &:hover {
    --background-color: var(--gray-5);
  }
}
