.g-btn.variant-tertiary-neutral {
  color: var(--black);
  border-color: transparent;
  background-color: transparent;

  & .icon svg {
    & [fill] {
      fill: var(--black);
    }
    & [stroke] {
      stroke: var(--black);
    }
  }

  &.size-small,
  &.size-medium {
    padding: 0;
  }

  &:hover:not([disabled]) {
    border-color: transparent;
  }

  &[disabled] {
    &.background-light,
    &.background-brand-secondary {
      color: rgba(0, 0, 0, 0.3);
      & .icon svg {
        & [fill] {
          fill: rgba(0, 0, 0, 0.3);
        }
        & [stroke] {
          stroke: rgba(0, 0, 0, 0.3);
        }
      }
    }
    &.background-dark,
    &.background-brand {
      color: rgba(255, 255, 255, 0.3);
      & .icon svg {
        & [fill] {
          fill: rgba(255, 255, 255, 0.3);
        }
        & [stroke] {
          stroke: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }

  &.background-dark,
  &.background-brand {
    color: var(--white);
    & .icon svg {
      & [fill] {
        fill: var(--white);
      }
      & [stroke] {
        stroke: var(--white);
      }
    }
  }
}
