.g-btn.variant-primary {
  color: var(--brand-text-on-primary, --white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--brand);
  background-color: var(--brand);

  & .icon svg {
    & [fill] {
      fill: var(--brand-text-on-primary, --white);
    }
    & [stroke] {
      stroke: var(--brand-text-on-primary, --white);
    }
  }

  &::before {
    background: rgba(0, 0, 0, 0.1);
  }

  &:active::before {
    background: rgba(0, 0, 0, 0.2);
  }

  &:hover:not([disabled])::before,
  &:active:not([disabled])::before {
    opacity: 1;
  }

  /* Disabled styles (shared across all style variations) */
  &[disabled] {
    &.background-light,
    &.background-brand-secondary {
      border-color: transparent;
      background-color: rgba(0, 0, 0, 0.14);
    }
    &.background-brand,
    &.background-dark {
      border-color: transparent;
      background-color: rgba(255, 255, 255, 0.16);
      color: rgba(255, 255, 255, 0.24);
      & .icon svg {
        & [fill] {
          fill: rgba(255, 255, 255, 0.24);
        }
        & [stroke] {
          stroke: rgba(255, 255, 255, 0.24);
        }
      }
    }
  }

  &.background-brand {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--black);

    & .icon svg {
      & [fill] {
        fill: var(--black);
      }
      & [stroke] {
        stroke: var(--black);
      }
    }

    &::before {
      background: var(--brand-secondary);
    }
    &:active::before {
      background: var(--brand-secondary);
    }
  }
}

/*
BRAND STYLING
Note: we might be able to figure out a better way to do this, maybe with an IE11 custom properties polyfill?
See https://gist.github.com/zchsh/5eb843af4ef3a6d11b86ccb7af2251fd
*/
.g-btn.variant-primary:not([disabled]) {
  /* Brand -- Neutral */
  &.brand-neutral {
    &:not(.background-brand),
    &:not(.background-dark) {
      border-color: var(--black);
      background-color: var(--black);

      &::before {
        background: rgba(255, 255, 255, 0.15);
      }

      &:active::before {
        background: rgba(255, 255, 255, 0.2);
      }
    }

    &.background-dark,
    &.background-brand {
      border-color: var(--white);
      background-color: var(--white);
      color: var(--black);

      & .icon svg {
        & [fill] {
          fill: var(--black);
        }
        & [stroke] {
          stroke: var(--black);
        }
      }

      &::before {
        background: rgba(0, 0, 0, 0.1);
      }
      &:active::before {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
