@import '~@hashicorp/react-global-styles/custom-properties/color.css';

.g-btn.variant-secondary {
  color: var(--black);
  border: 1px solid rgba(29, 30, 35, 0.2);
  background: none;

  &::before {
    background-color: var(--black);
  }

  & .icon svg {
    & [fill] {
      fill: var(--black);
    }
    & [stroke] {
      stroke: var(--black);
    }
  }

  &:hover:not([disabled]) {
    border-color: transparent;
    &::before {
      opacity: 0.1;
    }
  }

  &:active:not([disabled]) {
    border-color: transparent;
    &::before {
      opacity: 0.16;
    }
  }

  &[disabled] {
    &.background-light,
    &.background-brand-l3 {
      color: rgba(0, 0, 0, 0.3);
      & .icon svg {
        & [fill] {
          fill: rgba(0, 0, 0, 0.3);
        }
        & [stroke] {
          stroke: rgba(0, 0, 0, 0.3);
        }
      }
    }
    &.background-dark,
    &.background-brand {
      color: rgba(255, 255, 255, 0.3);
      & .icon svg {
        & [fill] {
          fill: rgba(255, 255, 255, 0.3);
        }
        & [stroke] {
          stroke: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }

  /* Shared styles for all secondary buttons on brand-l3 background */
  &.background-brand-l3 {
    &::before {
      background: var(--brand);
    }
  }

  /* Shared styles for all secondary buttons on dark and brand background */
  &.background-dark,
  &.background-brand {
    color: var(--white);
    border-color: rgba(255, 255, 255, 0.24);

    & .icon svg {
      & [fill] {
        fill: var(--white);
      }
      & [stroke] {
        stroke: var(--white);
      }
    }

    &::before {
      background-color: var(--white);
    }
    &:hover:not([disabled]) {
      border-color: transparent;
      &::before {
        opacity: 0.14;
      }
    }
    &:active:not([disabled]) {
      border-color: transparent;
      &::before {
        opacity: 0.08;
      }
    }
  }
}

/*
BRAND STYLING
Note: we might be able to figure out a better way to do this, maybe with an IE11 custom properties polyfill?
See https://gist.github.com/zchsh/5eb843af4ef3a6d11b86ccb7af2251fd
*/
.g-btn.variant-secondary:not([disabled]) {
  /* Brand -- HashiCorp */
  /* Brand -- Vagrant */
  /* Brand -- Vault */
  &.brand-hashicorp,
  &.brand-vault,
  &.brand-vagrant {
    /* Uses default values for --brand */
  }

  /* Brand -- Neutral */
  &.brand-neutral {
    &.background-brand-l3 {
      &::before {
        background: var(--black);
      }
    }
  }

  /* Brand -- Consul */
  &.brand-consul {
    &.background-brand-l3 {
      &::before {
        background: var(--consul);
      }
    }
  }

  /* Brand -- Nomad */
  &.brand-nomad {
    &.background-brand-l3 {
      &::before {
        background: var(--nomad);
      }
    }
  }

  /* Brand -- Packer */
  &.brand-packer {
    &.background-brand-l3 {
      &::before {
        background: var(--packer);
      }
    }
  }

  /* Brand -- Terraform */
  &.brand-terraform {
    &.background-brand-l3 {
      &::before {
        background: var(--terraform);
      }
    }
  }

  /* Brand -- Blue */
  &.brand-terraform {
    &.background-brand-l3 {
      &::before {
        background: var(--blue);
      }
    }
  }

  /* Brand -- Red */
  &.brand-terraform {
    &.background-brand-l3 {
      &::before {
        background: var(--red);
      }
    }
  }
}
