.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 18px;

  &.stacked {
    flex-direction: column;

    &.left {
      align-items: flex-start;
    }

    &.center {
      align-items: center;
    }
  }

  &.mixed {
    column-gap: 24px;
  }
}
