@import '~tippy.js/dist/tippy.css';

.g-logo-grid {
  list-style: none;
  padding: 0;
  margin: -15px;
  display: flex;
  flex-wrap: wrap;

  &.medium {
    @media (max-width: 650px) {
      margin: -10px;
    }
  }

  & li {
    position: relative;
    margin: 15px;
    border: 1px solid var(--gray-5);
    display: flex;
    align-items: center;
    justify-content: center;

    & picture {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        margin: 0 auto;
      }
    }

    & img {
      display: block;
      max-height: 70%;
      max-width: 70%;
    }

    &.linked,
    &.tt {
      cursor: pointer;
      transition: 0.25s ease;
      transition-property: border, box-shadow, transform;

      &:hover {
        border: 2px solid var(--brand);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
        transform: translateY(-4px);
      }

      &:focus {
        outline: 0;
      }

      & a {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &.large li {
    width: calc(33.333333% - 30px);
    height: 230px;

    @media (max-width: 900px) {
      height: 190px;
    }

    @media (max-width: 700px) {
      width: calc(50% - 30px);
      height: 210px;
    }

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &.medium li {
    width: calc(25% - 30px);
    height: 170px;

    @media (max-width: 900px) {
      height: 130px;
    }

    @media (max-width: 650px) {
      width: calc(50% - 20px);
      margin: 10px;
    }
  }

  &.small li {
    width: calc(16.66666666666% - 30px);
    height: 125px;

    @media (max-width: 1000px) and (min-width: 500px) {
      width: calc(33.33333333333% - 30px);
    }

    @media (max-width: 500px) {
      width: calc(50% - 20px);
      margin: 10px;
    }
  }

  &.no-borders li {
    border: none;
  }

  & .details {
    display: none;
  }
}

/* TODO: this needs to be dealt with */
.tippy-tooltip {
  & .logo-grid-tooltip.details {
    max-width: 500px;
    text-align: left;
    padding: 30px;
    position: relative;

    & .close {
      color: var(--gray-3);
      position: absolute;
      top: 15px;
      right: 10px;
      font-size: 2rem;
      line-height: 1rem;
      cursor: pointer;
    }

    & h5 {
      margin: 0 0 1rem 0;
    }

    & .g-btn {
      margin-top: 1.5rem;
    }
  }
}
