/* Component variables */
.g-content {
  /* Default highlight color (if no product is specified) */
  --highlight-color: var(--brand);
  --highlight-color-text: var(--brand-text);

  margin: auto;
  color: var(--gray-2);

  /* On large viewports, all content is spaced from edge of container */
  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* On small viewports, all content except
  .highlight is spaced from edge of container */
  & > *:not(.highlight) {
    @media (max-width: 768px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  /* Paragraph text */
  & p {
    margin: 20px 0;
  }

  /* Headings */

  & h1 {
    color: var(--gray-1);
    margin-top: 56px;
    margin-bottom: 24px;
  }

  & h2 {
    color: var(--gray-1);
    margin-top: 40px;
    margin-bottom: 24px;
  }

  & h3 {
    color: var(--gray-1);
    margin-top: 40px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray-6);
  }

  & h4 {
    color: var(--gray-1);
    margin-top: 32px;
    margin-bottom: 16px;
  }

  & h5 {
    color: var(--gray-1);
    margin-top: 24px;
    margin-bottom: 16px;
  }

  & h6 {
    color: var(--gray-3);
    margin-top: 20px;
    margin-bottom: 16px;
  }

  /*
   *
   *  Code
   *
   */

  /* Code font */
  & code {
    font-family: var(--font-monospace);
  }

  /* Inline code */
  &:not(pre) code {
    padding: 0.3em 0.625em;
    background: var(--code-light-transparent);
    border-radius: 3px;
    color: var(--code-dark);
    font-family: var(--font-monospace);
    hyphens: none;
  }

  /* Code Blocks */
  & pre {
    margin: 1.5rem 0;
    background: var(--code-dark);
    border-radius: 3px;

    & code {
      padding: 0;
      background: var(--code-dark);
      color: var(--code-light);
    }
  }

  /* Inline code in headings */
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    & code {
      display: inline;
      padding: 0.2em 0.4em;
      background: var(--code-light-transparent);
      color: inherit;
      font-size: 0.825em;
    }

    & a.__permalink-h {
      display: inline-block;
      opacity: 0;
      transition: opacity 0.2s ease;
      order: 1;
      position: relative;
      left: -0.7em;
      margin-right: -0.5em;
    }

    &:hover {
      & a.__permalink-h {
        opacity: 1;
        transition: opacity 0.2s ease;
      }
    }
  }

  /* Links */

  /* Note: custom components are used in g-content areas.
  We don't want to clobber these with our default link styles */
  & a:not([class]),
  & a.__permalink-h {
    color: var(--highlight-color-text);
    position: relative;
    transition: color 0.3s;
    text-decoration: none;

    &:hover {
      color: var(--highlight-color-text);
      &:not(.__permalink-h) {
        text-decoration: underline;
      }
    }

    & > code {
      color: var(--highlight-color-text);
    }
  }

  /* Lists */
  & ul,
  & ol {
    counter-reset: li;
    padding-left: 1.3rem;
    list-style: none;

    & li {
      position: relative;

      /* Vertical margins for single-paragraph content, multi-paragraph content
      renders as <p> within <li>, resulting in larger vertical margins */
      margin-top: 12px;
      margin-bottom: 12px;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--gray-5);
        margin-left: calc(-1 * 1.3rem);
        width: 1.3rem;
      }
    }
  }

  /* List - ordered bullets */
  & ul {
    & li::before {
      content: '\2022';
    }
    & ul li::before {
      content: '\25AB';
    }
    & ul li ul li::before {
      content: '\203A';
    }
    & ul li ul li ul li::before {
      content: '\2013';
    }
    & ul li ul li ul li ul li::before {
      content: '\2022';
    }
  }

  /* List - unordered bullets */
  & ol {
    & li {
      counter-increment: li;
      &::before {
        font-size: 0.75em;
        line-height: calc(1.75 / 0.75);
        content: counter(li);
      }
    }
    & ol li::before {
      content: counter(li, lower-roman);
    }
    & ol li ol li::before {
      content: counter(li, lower-latin);
    }
    & ol li ol li ol li::before {
      content: counter(li, upper-roman);
    }
    & ol li ol li ol li ol li::before {
      content: counter(li);
    }
  }

  /* Images */
  & img,
  & * > img {
    margin: 1rem auto;
    width: 100%;
    height: auto;
  }

  /* Alerts */

  /* TODO: move this into an alert component to be used within mdx */
  & .alert {
    padding: 1em;
    border-radius: 3px;
    margin: 24px 0;

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    &.alert-info {
      background-color: var(--brand-l3);
      color: #416f8c; /* TODO non-standard color */
      border: 1px solid var(--brand-l2);
    }

    &.alert-success {
      background-color: #e5fbe9; /* TODO non-standard color */
      color: #438642; /* TODO non-standard color */
      border: 1px solid #cff8d1; /* TODO non-standard color */
    }

    &.alert-warning {
      background-color: var(--warning-l2);
      color: #866d42; /* TODO non-standard color */
      border: 1px solid #f8ebcf; /* TODO non-standard color */
    }

    &.alert-danger {
      background-color: #fbe5e5; /* TODO non-standard color */
      color: #864242; /* TODO non-standard color */
      border: 1px solid #f8cfcf; /* TODO non-standard color */
    }
  }

  /* Block quotes */
  & blockquote {
    margin: 2em 0;
    padding-left: 2em;
    font-style: italic;
    border-left: 6px solid var(--gray-7);
    & em {
      font-style: normal;
    }
  }

  /* Remove the top margin from any first item */
  & > *:first-child {
    margin-top: 0;
  }
}
