/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.bottom {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.subHeading {
  composes: g-type-body-small-x-strong from global;
  margin: 0;
  color: var(--secondary-text-color);
}
