.root {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 1.5px 12px 2.5px 12px;
  border-radius: 24px;
  width: max-content;
  background-color: var(--brand);
  color: var(--brand-text-on-primary);

  &.secondary {
    gap: 5px;

    &::before {
      --size: 7px;

      content: '';
      width: var(--size);
      height: var(--size);
      background-color: var(--brand);
      border-radius: 50%;
    }
  }

  &.light {
    &.secondary {
      background-color: var(--wpl-neutral-50);
    }
  }

  &.dark {
    background-color: var(--wpl-neutral-0);

    &.secondary {
      background-color: var(--wpl-neutral-700);
    }
  }
}

.text {
  display: inline-block;
  position: relative;
  composes: g-type-label from global;
  text-transform: capitalize;
  margin: 0;

  &.light {
    &.secondary {
      color: var(--wpl-neutral-500);
    }
  }

  &.dark {
    color: var(--wpl-neutral-500);

    &.secondary {
      color: var(--wpl-neutral-200);
    }
  }
}
