.radioInput {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: max-content;
}

.input {
  --background-color: var(--white);
  --border-color: var(--gray-5);
  --size: 20px;

  -webkit-appearance: none;
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease;
  height: var(--size);
  width: var(--size);

  &:checked {
    --background-color: var(--brand);
    --border-color: var(--brand);

    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='%231563FF'/%3E%3Ccircle cx='10' cy='10' r='4' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 100%;
  }

  @nest .dark & {
    --background-color: var(--gray-1);
    --border-color: var(--gray-3);

    &:checked {
      --background-color: var(--black);
      --border-color: var(--white);

      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='black'/%3E%3Ccircle cx='10' cy='10' r='4' fill='white'/%3E%3C/svg%3E%0A");
      background-size: 100%;
    }
  }
}

.label {
  --color: var(--gray-2);

  composes: g-type-buttons-and-standalone-links from global;
  font-weight: var(--font-weight-medium);
  color: var(--color);

  @nest .dark & {
    --color: var(--gray-4);
  }
}
