/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.label {
  color: var(--gray-3);
  composes: g-type-label from global;
  display: block;
  padding-bottom: 8px;
  text-transform: uppercase;
}
