@import './_temp-spacing-tokens.css';

@import '../partials/button-group/style.css';
@import '../partials/checkbox-list/style.css';

.g-text-split {
  background: var(--white);
  padding: var(--space-block-padding) 0;

  &.background-gray {
    background: var(--gray-6);
  }

  &.background-dark {
    background: var(--black);
    color: var(--white);
  }

  & > .g-grid-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (--medium-up) {
      flex-wrap: nowrap;
    }

    &.text-at-left {
      @media (--medium-up) {
        flex-direction: row-reverse;
      }
    }

    & > .text {
      margin-top: 32px;
      width: 100%;
      flex-shrink: 0;
      color: var(--gray-2);

      @media (--medium-up) {
        margin-top: 0;
        max-width: 32em;
        width: calc((100% - 64px) / 2);
      }

      & > .heading {
        margin: 0;
      }

      & .g-type-body {
        margin: 0;
        margin-top: var(--space-display-2--body);

        & + .g-type-body {
          margin-top: 16px;
        }
      }

      & .links {
        margin-top: var(--space-body-large--buttons);
      }
    }

    & > .children {
      width: 100%;
      flex-shrink: 0;

      @media (--medium-up) {
        width: calc((100% - 32px) / 2);
      }
    }
  }
}
