.location {
  composes: g-type-body-small-x-strong from global;
  margin: 0;
  color: var(--secondary-text-color);
}

.thumbnailContainer {
  position: relative;
}

.thumbnailIcon {
  --size: 40px;

  position: absolute;
  bottom: 20px;
  right: 20px;
  width: var(--size);
  height: var(--size);
  display: grid;
  place-items: center;
  border-radius: 9999px;
  overflow: hidden;

  & svg {
    position: relative;
  }

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    background-color: var(--wpl-neutral-50);
    opacity: 0.75;
  }
}
