.rowHeader {
  padding: 26px 0;
  vertical-align: top;
}

.rowHeaderText {
  text-align: left;
  max-width: 264px;
  vertical-align: top;
  display: inline-block;
  float: left;

  & *[aria-hidden='true'],
  & *[data-hidden='true'] {
    display: none;
  }

  & .rowHeading,
  & .rowContent {
    & a {
      font-weight: inherit;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.icon {
  display: inline-block;
  float: left;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 5px 10px 0 0;
}

.rowHeading {
  composes: g-type-body-small-strong from global;

  & * {
    margin: 0;

    & a {
      color: inherit;
    }
  }
}

.rowContent {
  color: var(--wpl-neutral-600);
  composes: g-type-body-x-small from global;
  padding-top: 8px;

  & * {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & a {
    color: inherit;
  }
}
