/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.root {
  composes: g-grid-container from global;
  margin-top: 75px;
  margin-bottom: 75px;

  & article {
    padding-left: 0;
    max-width: 875px;
    margin-left: 0;
  }
}
