.g-enterprise-alert {
  background: var(--gray-6);
  display: flex;
  align-items: center;
  padding: 13px 18px;
  border-radius: 3px;

  & .tag {
    background: black;
    color: var(--brand-text-on-primary, --white);
    border-radius: 3px;
    text-transform: uppercase;
    padding: 6px 8px;
    margin-right: 12px;
  }

  &.themed {
    & .tag {
      background: var(--brand);
    }
    & p a {
      color: var(--brand-link);
    }
  }

  & p {
    margin: 0;
  }

  &.inline {
    background: none;
    padding: 0 7px;
    display: inline-flex;

    & .tag {
      margin-right: 0;
      background: var(--gray-2);
    }

  &.themed {
    & .tag {
      background: var(--brand);
    }
  }
  }
}
