.root {
  --height: 63px;

  background: var(--white);
  position: relative;

  &.fullWidthBorder {
    border-bottom: 1px solid var(--gray-5);
  }
}

.bottomBorder {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;
  border-bottom: 1px solid var(--gray-5);

  &.forDefault {
    display: block;
    &.hasOverflow {
      display: none;
    }
  }

  &.forOverflow {
    display: none;
    &.hasOverflow {
      display: block;
    }
  }

  /* If we're using a full-width border,
     hide this elements border no matter what */
  &.fullWidthBorder {
    display: none;

    &.hasOverflow {
      display: none;
    }
  }
}

.borderAdjuster {
  position: relative;

  /* margin-bottom: -1px; */
  z-index: 1;
}

.inner {
  display: flex;
  min-width: 100%;

  /* Restrict tooltip space overflow */
  height: var(--height);
}

.tabsContainer {
  composes: g-grid-container from global;
  flex-grow: 1;

  &.hasOverflow {
    max-width: none;
    padding-left: 48px;
    padding-right: 60px;
    width: auto;
  }
}

.tooltipSpaceOverflow {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: -100vw;
  padding: 100vw 0;
  width: 100%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.centered {
    justify-content: center;
  }

  &.hasOverflow {
    justify-content: unset;
  }
}

.arrow {
  --icon-color: var(--gray-3);

  align-items: center;
  bottom: 3px;
  display: none;
  justify-content: center;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 0.6s;
  user-select: none;
  width: 56px;

  &.hasOverflow {
    display: flex;
  }

  &.hidden {
    opacity: 0;
  }

  & svg {
    display: block;
    width: 20px;
    height: 20px;
    & [fill] {
      fill: var(--icon-color);
    }
    & [stroke] {
      stroke: var(--icon-color);
    }
  }

  &:hover {
    --icon-color: var(--gray-1);

    cursor: pointer;
  }
}

.prevArrow {
  composes: arrow;
  left: 0;

  & svg {
    transform: rotate(180deg);
    margin-right: 20px;
  }
}

.nextArrow {
  composes: arrow;
  right: 0;

  & svg {
    margin-left: 20px;
  }
}

.scrimContainer {
  position: relative;
}

.arrowScrim {
  position: absolute;
  top: 0;
  pointer-events: none;
  background: blue;
  transition: opacity 0.6s;
  height: calc(var(--height) - 3px);
  width: 56px;
  display: none;
  opacity: 1;
  user-select: none;

  &.hasOverflow {
    display: flex;
  }

  &.hidden {
    opacity: 0;
  }
}

.prevArrowScrim {
  composes: arrowScrim;
  left: -1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0.85) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.nextArrowScrim {
  composes: arrowScrim;
  right: -1px;
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0.85) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}
