.switch {
  background: var(--DEPRECATED-gray-7);
  width: 55px;
  height: 30px;
  border-radius: 18px;
  display: inline-block;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);

  &.disabled {
    cursor: not-allowed;
  }

  &.on {
    background: var(--brand);

    &::after {
      left: 25px;
      border-color: #104fd2;
    }
  }

  &::after {
    content: '';
    display: block;
    border: 1px solid var(--DEPRECATED-gray-7);
    box-shadow: 1px 1px 1px var(--DEPRECATED-gray-4);
    width: 25px;
    height: 24px;
    top: 3px;
    left: 3px;
    border-radius: 12px;
    background: white;
    position: relative;
    transition: left 0.2s ease-in-out;
  }
}

.switch-label {
  position: relative;
  height: 30px;
  display: inline-block;
}

.switch-input {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.0001;
  cursor: default;

  &:focus + .switch {
    outline: -webkit-focus-ring-color auto 1px;
    outline-offset: 1px;
  }
}
