.toggle {
  --toggle-background-color: var(--wpl-neutral-0);
  --toggle-border-color: var(--wpl-neutral-200);
  --indicator-background-color: var(--wpl-neutral-200);
  --indicator-translate-x: 0;

  display: inline-flex;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  width: 44px;
  height: 24px;
  background-color: var(--toggle-background-color);
  border-radius: 24px;
  border: 1px solid var(--toggle-border-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transition-property: background-color, border-color;

  &:hover:not(.on) {
    --toggle-border-color: var(--wpl-neutral-300);
    --indicator-background-color: var(--wpl-neutral-300);
  }

  &:focus-within {
    --toggle-border-color: var(--wpl-blue-500);
  }

  &.on {
    --toggle-background-color: var(--wpl-blue-500);
    --toggle-border-color: var(--wpl-blue-500);
    --indicator-background-color: var(--wpl-neutral-0);
    --indicator-translate-x: 18px;
  }
}

.toggleInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.toggleIndicator {
  --size: 16px;

  display: block;
  width: var(--size);
  height: var(--size);
  background-color: var(--indicator-background-color);
  border-radius: 9999px;
  transform: translateX(var(--indicator-translate-x));
  transition: 0.2s ease-in-out;
  transition-property: transform, background-color, border-color;
}
