.toggle {
  --toggle-background-color: var(--wpl-neutral-0);
  --toggle-border-color: var(--wpl-neutral-500);
  --toggle-outline-color: var(--wpl-blue-500);
  --indicator-background-color: var(--wpl-neutral-500);
  --indicator-translate-x: 0;

  display: inline-flex;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  width: 44px;
  height: 24px;
  background-color: var(--toggle-background-color);
  border-radius: 24px;
  border: 1px solid var(--toggle-border-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transition-property: background-color, border-color;

  &:hover:not(.on):not(.disabled) {
    --toggle-border-color: var(--wpl-neutral-700);
    --indicator-background-color: var(--wpl-neutral-700);
  }

  &:focus-within {
    outline: 1px solid var(--toggle-outline-color);
    outline-offset: 2px;
  }

  &.on {
    --toggle-background-color: var(--wpl-blue-500);
    --toggle-border-color: var(--wpl-blue-500);
    --indicator-background-color: var(--wpl-neutral-0);
    --indicator-translate-x: 18px;
  }

  &.disabled {
    --toggle-background-color: var(--wpl-neutral-100);
    --toggle-border-color: var(--wpl-neutral-100);
    --indicator-background-color: var(--wpl-neutral-0);

    pointer-events: none;
  }

  /* Appearance: dark */
  &.dark {
    --toggle-background-color: var(--wpl-neutral-900);
    --toggle-border-color: var(--wpl-neutral-400);
    --toggle-outline-color: var(--wpl-neutral-0);
    --indicator-background-color: var(--wpl-neutral-400);

    &:hover:not(.on):not(.disabled) {
      --toggle-border-color: var(--wpl-neutral-200);
      --indicator-background-color: var(--wpl-neutral-200);
    }

    &.on {
      --toggle-background-color: var(--wpl-neutral-0);
      --toggle-border-color: var(--wpl-neutral-0);
      --indicator-background-color: var(--wpl-neutral-900);
    }

    &.disabled {
      --toggle-background-color: var(--wpl-neutral-700);
      --toggle-border-color: var(--wpl-neutral-700);
      --indicator-background-color: var(--wpl-neutral-900);
    }
  }
}

.toggleInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.toggleIndicator {
  --size: 16px;

  flex-shrink: 0;
  display: block;
  width: var(--size);
  height: var(--size);
  background-color: var(--indicator-background-color);
  border-radius: 9999px;
  transform: translateX(var(--indicator-translate-x));
  transition: 0.2s ease-in-out;
  transition-property: transform, background-color, border-color;
}
