.hero {
  --padding-top: 64px;

  position: relative;
  max-width: 1800px;
  margin: 0 auto;
  padding-top: var(--padding-top);
  overflow: hidden;

  @media (--medium-up) {
    --padding-top: 100px;
  }

  &::before {
    content: '';
    position: absolute;
    height: 40%;
    top: auto;
    bottom: -20%;
    background-color: var(--background-accent-color);
    left: 50%;
    transform: translate(-50%, 0);
    width: 130%;
    z-index: -1;
    border-radius: 9999px;
    filter: blur(calc(100vw * 0.2));
  }

  &::after {
    width: 100%;
    background-color: var(--white);
    height: 100px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
  }
}

.accent {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  --offset: 450px;

  width: 100%;

  & > div {
    max-width: calc(100% - var(--offset));
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: auto;

    & svg {
      width: 100%;
      height: 100%;

      & * {
        fill: var(--background-accent-color);
      }
    }
  }

  /* @media (--medium-up) {
    --offset: 450px;

    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }


  & > span {
    max-width: calc(100% - var(--offset));
  } */
}

.container {
  composes: g-grid-container from global;
  composes: g-grid from global;
  row-gap: 80px;
}

.titleContent {
  grid-column: 1 / 10;
  display: flex;
  gap: 22px;

  & .productIcon {
    width: 40px;
    display: flex;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}

.title {
  composes: g-type-display-1 from global;
  margin: 0;
}

.pricingTierListContainer {
  grid-column: 1 / -1;
}

.intersectionTrigger {
  bottom: 0;
  height: 2px;
  position: absolute;
  width: 100%;
}

.pricingTrayContainer {
  display: none;

  &.isVisible {
    animation: fade-in 0.4s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: block;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
