.root {
  composes: wpl-variables from '../style.module.css';
  margin-bottom: 12px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.checkbox {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-left: 0;
  margin-right: 12px;
}

.input {
  composes: wpl-input-base from '../style.module.css';
  height: 100%;
  appearance: none;
  background: var(--checkbox-background);
  transition: border 0.2s;
  cursor: pointer;
  border-width: 1px;

  &:checked {
    border-color: var(--input-focus-border-color);
    background-color: var(--input-focus-border-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill='%23fff' d='M14.78 4.28a.75.75 0 0 0-1.06-1.06l-7.97 7.97-3.47-3.47a.75.75 0 0 0-1.06 1.06l4 4a.75.75 0 0 0 1.06 0l8.5-8.5Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.hasError {
  border-color: var(--danger);
}

.label {
  composes: g-type-body-x-strong from global;
  color: var(--input-checkbox-label-color);
  margin-left: 12px;
  margin-bottom: 0;
  cursor: pointer;
  & a {
    color: var(--label-link-color);
    text-decoration: var(--label-link-decoration);
  }
}

.error {
  composes: wpl-error-message from '../style.module.css';
}
