.stackItem {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 200px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.25rem;
}

.itemLink {
  display: flex;
  justify-content: space-between;
  color: var(--gray-1);
  align-items: center;
  position: relative;
}

.itemName {
  composes: g-type-body-small-strong from global;
}
.productName {
  composes: itemName;
  text-transform: capitalize;
}

.productIcon {
  margin-right: 0.75rem;
  width: 22px;
}

.badge {
  position: absolute;
  text-align: center;
  left: calc(100% + 0.5rem);
  top: 4px;
  padding: 1.5px 4px 1.5px 6px;
  border-radius: 2px;
  display: block;
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.272727273em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background: var(--white);
  color: var(--gray-4);
  border: 1px solid var(--gray-5);
}

.badgeTypeNew {
  composes: badge;
  background: var(--gray-2);
  color: var(--white);
  border-color: var(--gray-2);
}
