.stackItem {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 200px;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}

.itemLink {
  display: flex;
  justify-content: space-between;
  color: var(--gray-1);
}

.docsLink {
  padding: 0 0.5rem;
  text-align: right;
  display: flex;
  color: var(--gray-4);
}

.productName {
  text-transform: capitalize;
}

.productIcon {
  margin-right: 0.75rem;
  max-width: 22px;
}
