/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

@import '~@hashicorp/mktg-global-styles/style.css';

.swingset-logo {
  margin: 1rem 1rem 0.25rem 2rem;
  height: 32px;
}
