@import '~@hashicorp/react-global-styles/style.css';
@import '~@hashicorp/react-global-styles/font.css';
@import '~@hashicorp/react-global-styles/custom-media.css';
@import '~@hashicorp/react-global-styles/custom-properties/color.css';
/* TODO: this should be embedded into react-content */
@import '~@hashicorp/react-global-styles/_temporary-to-remove/tables.css';

/* global component css imports */
/* these should be moved to css modules */
@import '../packages/button/styles/index.css';
@import '../packages/docs-sidenav/style.css';
@import '../packages/accordion/style.css';
@import '../packages/subnav/style.css';
@import '../packages/call-to-action/style.css';
@import '../packages/product-features-list/style.css';
@import '../packages/alert-banner/style.css';
@import '../packages/docs-page/style.css';
@import '../packages/content/style.css';
@import '../packages/enterprise-alert/style.css';
@import '../packages/text-split/styles/index.css';

body {
  margin: 0;
  padding: 0;
}
