@import '~@hashicorp/mktg-global-styles/style.css';

/* global component css imports */

/* these should be moved to css modules */
@import '../packages/alert/style.css';
@import '../packages/button/styles/index.css';
@import '../packages/callouts/styles/index.css';
@import '../packages/checkbox-input/style.css';
@import '../packages/accordion/style.css';
@import '../packages/subnav/style.css';
@import '../packages/call-to-action/style.css';
@import '../packages/product-features-list/style.css';
@import '../packages/alert-banner/style.css';
@import '../packages/enterprise-alert/style.css';
@import '../packages/featured-slider/style.css';
@import '../packages/content-cta/style.css';
@import '../packages/consent-manager/style.css';
@import '../packages/toggle/style.css';
@import '../packages/text-input/style.css';
@import '../packages/hero/style.css';
@import '../packages/logo-grid/style.css';
@import '../packages/vertical-text-block-list/style.css';
@import '../packages/tabs/style.css';
@import '../packages/tabbed-accordion/style.css';
@import '../packages/text-split/styles/index.css';
@import '../packages/search/style.css';
@import '../packages/case-study-slider/style.css';
@import '../packages/learn-callout/style.css';
@import '../packages/use-cases/style.css';

.swingset-logo {
  margin: 1rem 1rem 0.25rem 2rem;
  height: 32px;
}

/* HashiCorp-style headings
To Do: use g-type classnames instead,
these styles are duplicative. */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: var(--font-weight-bold);
  font-kerning: normal;
}

h1 {
  font-size: 2.125rem;
  letter-spacing: -0.008em;
  line-height: 1.265em;

  @media (--medium-up) {
    font-size: 2.625rem;
    letter-spacing: -0.01em;
    line-height: 1.19em;
  }

  @media (--large) {
    font-size: 3.125rem;
    line-height: 1.2em;
  }
}

h2 {
  font-size: 1.75rem;
  letter-spacing: -0.004em;
  line-height: 1.286em;
  margin: 1em 0;

  @media (--medium-up) {
    font-size: 2.125rem;
    letter-spacing: -0.008em;
    line-height: 1.265em;
  }

  @media (--large) {
    font-size: 2.5rem;
    letter-spacing: -0.01em;
    line-height: 1.25em;
  }
}

h3 {
  font-family: var(--font-display);
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
  letter-spacing: -0.004em;
  line-height: 1.375em;
  margin: 1em 0;

  @media (--medium-up) {
    font-size: 1.75rem;
    line-height: 1.321em;
  }

  @media (--large) {
    font-size: 2rem;
    letter-spacing: -0.006em;
    line-height: 1.313em;
  }
}

h4 {
  font-size: 1.313rem;
  line-height: 1.429em;

  @media (--medium-up) {
    font-size: 1.438rem;
    letter-spacing: -0.004em;
    line-height: 1.391em;
  }

  @media (--large) {
    font-size: 1.5rem;
    line-height: 1.417em;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 1.556em;
}

h6 {
  font-size: 1rem;
  line-height: 1.5em;
}

/* Table styles
TO DO: we should likely use our content component or something
in swingset if we want to ship these as default swingset styles, or allow
a container to be passed to `createPage` or something
so we can compose the table.module.css file from @hashicorp/react-content */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-right: 0;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

  & th {
    text-align: left;
  }

  & td,
  & th {
    border-right: 1px solid #ddd;
    padding: 0;
  }

  & > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  & > thead > tr > th,
  & > tbody > tr > th,
  & > tfoot > tr > th,
  & > thead > tr > td,
  & > tbody > tr > td,
  & > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }

  & > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }

  & > caption + thead > tr:first-child > th,
  & > colgroup + thead > tr:first-child > th,
  & > thead:first-child > tr:first-child > th,
  & > caption + thead > tr:first-child > td,
  & > colgroup + thead > tr:first-child > td,
  & > thead:first-child > tr:first-child > td {
    border-top: 0;
    border-right: 1px solid #ddd;
  }

  & > tbody + tbody {
    border-top: 2px solid #ddd;
  }

  & table {
    background-color: #fff;
  }

  & tr.warning td {
    background: #fcf8e3;
  }
}
