@import '~@hashicorp/react-global-styles/style.css';
@import '~@hashicorp/react-global-styles/font.css';
@import '~@hashicorp/react-global-styles/custom-media.css';
@import '~@hashicorp/react-global-styles/custom-properties/color.css';

/* global component css imports */
/* these should be moved to css modules */
@import '../packages/button/styles/index.css';
@import '../packages/call-to-action/styles/index.css';
@import '../packages/text-split/styles/index.css';
@import '../packages/docs-sidenav/style.css';

body {
  margin: 0;
  padding: 0;
}
