.root {
  display: flex;
  align-items: center;
  border: 1.5px solid var(--wpl-neutral-100);
  border-radius: 4px;
  padding: var(--wpl-spacing-01) var(--wpl-spacing-02);
  background-color: var(--wpl-neutral-0);
  transition: background-color 0.2s, border 0.2s;

  &:hover {
    background-color: var(--wpl-neutral-25);
  }

  &:active {
    background-color: var(--wpl-neutral-50);
  }

  &:focus {
    border: 1.5px solid var(--wpl-blue-400);
  }

  &:disabled {
    border: 1.5px solid transparent;

    &:hover {
      background-color: var(--wpl-neutral-0);
    }
  }
}

.icon {
  --size: var(--wpl-spacing-03);

  flex-shrink: 0;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  background-image: var(--icon);
  background-size: var(--size);
  margin-right: 6px;
}

.productName {
  composes: g-type-body-small-x-strong from global;
  text-transform: capitalize;
}
