.root {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 16px);
  max-width: 816px;
  width: 100%;

  @media (max-width: 1119px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
  }

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }

  &.videoControlsTop {
    display: flex;
    flex-direction: column-reverse;
  }
}

.videos {
  position: relative;
}

.videoWrapper {
  /* --tallest-aspect-ratio: set in JS, largest of all video aspect ratios */

  /* --video-aspect-ratio: set in JS, defaults to 0.63695 */
  --tallest-video-height: calc(100% * var(--tallest-aspect-ratio));
  --video-height: calc(100% * var(--video-aspect-ratio));

  height: 0;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transform: translateX(-60px);
  line-height: 0;
  box-shadow: 0 14px 14px rgba(37, 41, 55, 0.16);

  &.isActive {
    opacity: 1;

    /* This padding ensures there is space for a video,
       plus 28px for the fake window ".bar" at the top */
    padding-top: calc(var(--video-height) + 28px);

    /* Bottom margin accounts for potential differences
       between videos of varying aspect ratios, so that
       we avoid layout shift when moving between them. */
    margin-bottom: calc(var(--tallest-video-height) - var(--video-height));
    transform: translateX(0);
    transition: opacity 0.5s, transform 0.5s;
    transition-timing-function: ease-out;
  }

  &.isDeactivating {
    opacity: 0;
    transform: translateX(90px);
    transition-timing-function: ease-in;
  }
}

.bar {
  align-items: center;

  /* Almost --black, but aligns with 
     colors in video clip UIs, so making an exception */
  background: #0e1016;
  border-radius: 4px 4px 0 0;
  display: flex;
  height: 28px;
  padding: 0 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  & span {
    /* Almost --gray-1, but matches coloration
       of video clips, so making an exception */
    background: #252937;
    border-radius: 50%;
    display: block;
    height: 9px;
    margin-right: 7px;
    width: 9px;
  }
}

.video {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 28px;
  right: 0;

  & video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.controls {
  composes: g-type-buttons-and-standalone-links from global;
  display: flex;
  padding: 28px 20px 0;

  @media (max-width: 1119px) {
    padding: 37px 0 0;
  }

  &.videoControlsTop {
    padding-top: 0;
    margin-bottom: 32px;
  }
}

.control {
  --control-transform: translateY(0);

  cursor: pointer;
  text-align: left;
  width: 100%;

  & + .control {
    margin-left: 24px;
  }

  &:hover {
    --control-transform: translateY(-4px);
  }
}

.controlHover {
  transition: 0.3s ease-in-out;
  transition-property: transform;
  transform: var(--control-transform);
}

.progressBar {
  background-color: var(--gray-2);
  height: 2px;
  margin-top: 4px;
  position: relative;
  width: 100%;

  & span {
    background: var(--white);
    display: block;
    height: 2px;
    position: absolute;
    transition: width linear 0.2s;
    width: 0;

    /* Hide progress bar from Percy,
       it creates too much visual diff noise */
    @media only percy {
      display: none;
    }
  }

  &.light {
    background-color: rgba(0, 0, 0, 0.15);

    & span {
      background-color: var(--black);
    }
  }
}
