.root {
  position: relative;
  width: 100%;
}

.formElements {
  display: flex;
  transition: opacity 0.35s;

  @media (max-width: 575px) {
    flex-wrap: wrap;
  }
}

.formInputs {
  flex-shrink: 1;
  width: 100%;

  @media (min-width: 1120px) {
    max-width: 320px;
  }
}

.textInputOverride {
  @media (max-width: 575px) {
    margin-bottom: 20px;
    width: 100%;
    flex: 1;
  }

  & input {
    height: 48px;
  }
}

.buttonOverride {
  align-self: flex-start;
  width: auto;
  margin-left: 15px;
  min-height: 48px;

  @media (max-width: 575px) {
    width: 100%;
    margin-left: 0;
    flex-grow: 1;
    flex-shrink: 0;
  }
}
