.root {
  --full-width: 1 / -1;

  display: grid;
  background-color: var(--backgroundColor);
  grid-template-rows: repeat(12, 1fr);
  max-width: 1312px;
  margin: 0 auto;

  @media (--medium-up) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
  }
}

.backgroundImage,
.content {
  grid-column: var(--full-width);
}

.content {
  composes: g-grid-container from global;
  composes: g-grid from global;
  padding-top: var(--wpl-spacing-09);
  grid-row: 1 / 10;
  z-index: 1;

  @media (--medium-up) {
    padding-top: var(--wpl-spacing-08);
    padding-bottom: var(--wpl-spacing-08);
    grid-row: var(--full-width);
  }

  @media (--large) {
    padding-top: var(--wpl-spacing-15);
    padding-bottom: var(--wpl-spacing-15);
  }
}

.videoWrapper {
  grid-column: var(--full-width);
  align-self: center;
  padding-bottom: var(--wpl-spacing-06);

  @media (--medium-up) {
    padding-bottom: 0;
    grid-row: var(--full-width);
    grid-column: 7 / -1;
  }

  @media (--large) {
    grid-row: var(--full-width);
    grid-column: 7 / -1;
  }
}

.introWrapper {
  grid-column: var(--full-width);

  @media (--medium-up) {
    grid-column: 1 / span 6;
    grid-row: var(--full-width);
  }

  @media (--large) {
    grid-column: 1 / span 6;
    grid-row: var(--full-width);
  }
}

.eyebrowWrapper {
  padding-bottom: var(--wpl-spacing-06);

  @media (--medium-up) {
    padding-bottom: var(--wpl-spacing-05);
  }
  @media (--large) {
    padding-bottom: var(--wpl-spacing-05);
  }
}

.backgroundImage {
  position: relative;
}

.smallImage {
  composes: backgroundImage;
  display: block;
  align-self: flex-end;
  grid-row: 6 / 13;

  @media (--medium-up) {
    display: none;
  }

  @media (--large) {
    display: none;
  }
}

.mediumImage {
  composes: backgroundImage;
  display: none;

  @media (--medium-up) {
    display: block;
    grid-row: var(--full-width);
    grid-column: 6 / 13;
  }

  @media (--large) {
    display: none;
  }
}

.largeImage {
  composes: backgroundImage;
  display: none;

  @media (--medium-up) {
    display: none;
  }

  @media (--large) {
    display: block;
    align-self: flex-end;
    grid-row: var(--full-width);
    grid-column: 4 / 13;
  }
}
