.root {
  margin: 0 auto;
  background-color: var(--backgroundColor);
}

.bgBounding {
  position: relative;
  composes: g-grid-container from global;
  max-width: 1600px;
  padding: 0;
}

.container {
  composes: g-grid from global;
  composes: g-grid-container from global;
  grid-template-rows: min-content min-content;
  padding-top: var(--wpl-spacing-09);

  @media (--medium-up) {
    padding-top: var(--wpl-spacing-08);
    padding-bottom: 184px;
  }

  @media (--large) {
    padding-top: var(--wpl-spacing-15);
    padding-bottom: var(--wpl-spacing-15);
  }
}

.content {
  grid-column: 1 / -1;
  z-index: 1;

  @media (--medium) {
    grid-column: 1 / 7;
    grid-row: 1 / 1;
  }

  @media (--large) {
    grid-column: 1 / 6;
  }
}

.eyebrow {
  padding-bottom: var(--wpl-spacing-06);

  @media (--medium-up) {
    padding-bottom: var(--wpl-spacing-05);
  }
}

.video {
  position: relative;
  margin-bottom: var(--wpl-spacing-06);
  grid-column: 1 / -1;
  align-self: center;

  @media (--medium-up) {
    margin-bottom: 0;
    grid-column: 7 / -1;
    grid-row: 1 / 1;
    z-index: 10;
  }
}

.desktopMedia {
  overflow: hidden;
  grid-column: 1 / -1;
  width: 100%;
  right: 0;
  left: auto;
  display: none;
  position: absolute;
  top: 0;
  height: 100%;

  & img {
    object-position: bottom right;
  }

  @media (--medium) {
    max-width: 80%;
    margin-left: 20%;
  }

  @media (--medium-up) {
    display: block;
  }
}

.smallMedia {
  display: flex;

  @media (--medium-up) {
    display: none;
  }
}
