.root {
  composes: g-grid-container from global;
  composes: g-grid from global;
  padding: var(--wpl-spacing-05);

  @media (--medium-up) {
    display: flex;
    align-items: center;
    padding: var(--wpl-spacing-05);
  }

  @media (--large) {
    padding: var(--wpl-spacing-15) 192px;
  }
}

/* .introWrapper {} */

.videoWrapper {
  width: 100%;

  @media (--medium-up) {
    order: 1;
  }
}
