/**
 * Copyright IBM Corp. 2020, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.quote {
  --color: var(--wpl-neutral-700);
  --gap: 32px;

  margin: 0;
  display: grid;
  gap: var(--gap);

  &.dark {
    --color: var(--wpl-neutral-0);
  }
}

.text {
  margin: 0;
  composes: g-type-display-4 from global;
  color: var(--color);

  & > p {
    margin: 0;
    color: inherit;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }
}
