.pricingStickyTrayContainer {
  position: sticky;
  top: 0;
  z-index: 1;
  composes: g-grid-container from global;
}

.pricingStickyTray {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 12px;
  background-color: var(--white);

  &::after {
    content: '';
    background: var(--wpl-neutral-200);
    filter: blur(19px);
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 93%;
    height: 29%;
    bottom: 10px;
    z-index: -1;
  }

  & .tier {
    margin: 0 auto;
    text-align: center;
    display: grid;
    gap: 4px;
    padding: 12px;

    & * {
      margin: 0;
    }
  }
}

.tierName {
  composes: g-type-body-bold from global;
}

.textLink {
  composes: g-type-body-x-small from '../../g-type-x-small.css';
  text-decoration: underline;
  text-align: center;
}
