.rowCell {
  vertical-align: top;
  padding-left: var(--col-gap);
  padding-top: 26px;
  padding-bottom: 26px;

  & .cellContent {
    color: var(--wpl-neutral-500);
    padding-top: 8px;

    &[aria-hidden='true'],
    &[data-hidden='true'] {
      display: none;
    }

    & * {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.cellHeading {
  composes: g-type-body-x-small-strong from '../../g-type-x-small.css';
  min-height: 25px;

  & * {
    margin: 0;
  }
}

.cellContent {
  composes: g-type-body-x-small from '../../g-type-x-small.css';
}

.cellHeading,
.cellContent {
  & a {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
}
