.rowCell {
  vertical-align: top;
  padding-left: var(--col-gap);
  padding-top: 26px;
  padding-bottom: 26px;

  & .cellHeading {
    font-weight: var(--font-weight-semi-bold);

    & * {
      margin: 0;
    }
  }

  & .cellContent {
    color: var(--wpl-neutral-500);
    padding-top: 8px;

    &[aria-hidden='true'],
    &[data-hidden='true'] {
      display: none;
    }

    & * {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.cellHeading,
.cellContent {
  composes: g-type-body-x-small from global;

  & a {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
}
