.root {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2rem;

  & :global(.sp-cm) {
    font-size: 14px;
    flex-basis: 50%;
    flex-grow: 0;
    overflow: auto;
  }

  & :global(.cm-scroller) {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace;
    padding: 1rem 0;
    overflow: auto;
    height: 20rem;
  }

  & :global(.cm-gutter) {
    margin-right: 1rem;
  }

  & :global(.cm-activeLine) {
    background-color: inherit;
  }

  & :global(.sp-tabs-scrollable-container) {
    display: flex;
    align-items: stretch;
    flex-wrap: no-wrap;
    overflow: auto;
  }

  & :global(.sp-tab-button) {
    height: 40px;
    border: 0;
    outline: none;
    background: transparent;
    padding: 0 8px;

    &[data-active='true'] {
      border-top: 2px solid var(--brand);
      background-color: #f6f8fa;
      color: var(--brand);
    }
  }
}

.header {
  background-color: #f6f8fa;
  border-bottom: 1px solid lightgray;
  padding: 12px 16px;
}

.layout {
  display: flex;
  flex-direction: row;

  &.vertical {
    flex-direction: column-reverse;
  }
}

.previewStage {
  padding: 1rem;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
}
