.card {
  --border-color: var(--wpl-neutral-200);
  --primary-text-color: var(--wpl-neutral-700);
  --secondary-text-color: #75757a;
  --background-color: var(--wpl-neutral-0);

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &:hover {
    --border-color: var(--wpl-neutral-300);

    & .contentContainer {
      transform: translateY(-2px);
    }

    & .cta svg {
      transform: translateX(2px);
    }
  }

  &:focus-within {
    --border-color: var(--wpl-blue-200);

    outline-color: var(--border-color);
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 0;
  }

  &.light {
    box-shadow: 0 16px 24px -16px #cbcbcd33, 0 8px 12px -8px #cbcbcd66;

    &:hover {
      & .contentContainer {
        box-shadow: 0 16px 16px -10px #656a7633, 0 2px 3px 0 #656a7626;
      }

      & .cta {
        color: var(--border-color);
      }
    }
  }

  &.dark {
    --border-color: var(--wpl-neutral-800);
    --primary-text-color: var(--wpl-neutral-0);
    --secondary-text-color: #9a9a9e;
    --background-color: #323234;

    &:hover {
      --background-color: #3e3e41;
    }
  }
}

.contentContainer {
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: var(--background-color);
  transition: 0.2s ease;
  transition-property: transform, box-shadow, border-color, background-color;
}

.link {
  position: absolute;
  inset: 0;
  outline: none;
}

.meta {
  composes: g-type-label from global;
  color: var(--secondary-text-color);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.metaSeparator {
  --padding-x: 12px;

  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 16px;
  padding: 20px 20px 0 20px;
}

.heading {
  composes: g-type-display-5 from global;
  color: var(--primary-text-color);
  margin: 0;
}

.description {
  composes: g-type-body-small from global;
  margin: 0;
  color: var(--secondary-text-color);
}

.productBadges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--wpl-neutral-200);
  padding: 8px 20px 20px 20px;
  margin-top: auto;
  transition: color 0.25s ease;

  & svg {
    transition: transform 0.25s ease;
  }

  &:empty {
    padding-top: 0;
  }
}
