.card {
  --border-color: var(--wpl-neutral-200);
  --primary-text-color: var(--wpl-neutral-700);
  --secondary-text-color: var(--wpl-neutral-500);
  --background-color: var(--wpl-neutral-0);

  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: var(--background-color);
  transition: 0.2s ease;
  transition-property: border-color, background-color;

  &:hover {
    --border-color: var(--wpl-neutral-300);

    & .cta svg {
      transform: translateX(2px);
    }
  }

  &:focus-within {
    --border-color: var(--wpl-blue-200);

    outline-color: var(--border-color);
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 0;
  }

  &.light {
    &:hover {
      & .cta {
        color: var(--border-color);
      }
    }
  }

  &.dark {
    --border-color: var(--wpl-neutral-800);
    --primary-text-color: var(--wpl-neutral-0);
    --secondary-text-color: var(--wpl-neutral-200);
    --background-color: var(--wpl-neutral-800);

    &:hover {
      --background-color: var(--wpl-neutral-700);
    }
  }
}

.link {
  position: absolute;
  inset: 0;
  outline: none;
}

.meta {
  composes: g-type-label from global;
  color: var(--secondary-text-color);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.metaSeparator {
  --padding-x: 12px;

  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 16px;
  padding: 24px 24px 0 24px;
}

.heading {
  composes: g-type-display-5 from global;
  color: var(--primary-text-color);
  margin: 0;
}

.description {
  composes: g-type-body-small from global;
  margin: 0;
  color: var(--secondary-text-color);
}

.productBadges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--wpl-neutral-200);
  padding: 8px 24px 24px 24px;
  margin-top: auto;
  transition: color 0.25s ease;

  & svg {
    transition: transform 0.25s ease;
  }

  &:empty {
    padding-top: 0;
  }
}
