.g-content-cta {
  padding: 28px;

  & h4 {
    margin-top: 0;
    margin-bottom: 16px;
  }

  & p {
    margin: 0;
    max-width: 30em;

    & a:hover {
      text-decoration: underline;
    }
  }

  & .links {
    margin-top: 28px;
    & a:first-child {
      margin-right: 16px;

      @media (max-width: 468px) {
        margin-bottom: 16px;
      }
    }
  }

  &.hasTheme {
    background: var(--brand-secondary);

    & p > a {
      color: var(--brand-link);
    }
  }
}
