/*
Note: Expects CSS properties from 
code-block/theme-(dark|light).module.css
to be present.
*/

.tabsAsTabs {
  display: flex;
  justify-content: flex-end;

  &.hasHeading {
    margin-left: auto;
  }
}

.tabControl {
  composes: g-type-body-small-strong from global;
  background: none;
  border: none;
  color: var(--text-color-faded);
  cursor: pointer;
  min-height: var(--base-height);
  padding: 0 16px;

  /* note that the parent `topBar` has corner rounding,
  we need to round either the first or last tab depending on alignment.
  without a heading, we're left-aligned, with heading, we're right-aligned. */
  &:not(.hasHeading) {
    &:first-child {
      border-top-left-radius: 4px;
    }
  }

  &.hasHeading {
    &:last-child {
      border-top-right-radius: 4px;
    }
  }

  &:hover {
    color: var(--text-color-base);
    background: var(--background-hovered-tab-item);
  }

  &.isActive {
    color: var(--text-color-base);
    background: var(--background-base);
  }
}
