.g-accordion-item {
  & .content {
    padding-top: 0px;
    padding-bottom: 24px;

    & > *:first-child {
      margin-top: 0px;
    }

    & > *:last-child {
      margin-bottom: 0px;
    }
  }

  & .html-content {
    max-width: 45em;
    color: var(--gray-2);
    font-size: 1.063rem;
    letter-spacing: 0.01em;
    line-height: 1.765em;

    & > *:first-child {
      margin-top: 0px;
    }

    & > *:last-child {
      margin-bottom: 0px;
    }

    & p {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    & h6 {
      color: var(--gray-1);
      font-family: var(--font-display);
      font-weight: var(--font-weight-bold);
      font-size: 0.75rem;
      letter-spacing: 0.08em;
      line-height: 1.5em;
      text-transform: uppercase;
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }
}
