.g-accordion-item {
  border-bottom: 1px solid var(--gray-5);

  &:first-child {
    border-top: none;
  }

  & button.trigger {
    color: var(--black);
    text-align: left;
    margin: 0;
    border: none;
    background: none;
    padding: 24px 0;
    display: flex;
    width: 100%;
    align-items: center;

    & .text {
      margin-right: 16px;
    }

    & .icon {
      user-select: none;
      margin-left: auto;
      margin-top: 1px;
      transition: transform 0.4s;

      & svg {
        display: block;
        width: 24px;
        height: 24px;
        & [fill] {
          fill: var(--gray-4);
        }
        & [stroke] {
          stroke: var(--gray-4);
        }
      }

      &.expanded {
        transform: rotate(-180deg);
        & svg {
          & [fill] {
            fill: var(--black);
          }
          & [stroke] {
            stroke: var(--black);
          }
        }
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
      color: var(--brand);
      text-decoration: underline;
      & .icon svg {
        & [fill] {
          fill: var(--brand);
        }
        & [stroke] {
          stroke: var(--brand);
        }
      }
    }
  }
}
