@import '~@hashicorp/mktg-assets/css/g-svg-autofix-canvas.css';

.g-text-split-with-logo-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;

  @media (min-width: 400px) {
    margin: -8px;
  }

  & > .grid-item {
    display: flex;
    width: 33.33%;
    padding: 4px;

    @media (min-width: 400px) {
      padding: 8px;
    }

    & > .image-aspect {
      position: relative;
      width: 100%;
      padding-bottom: 66.66%;

      @media (min-width: 900px) {
        padding-bottom: 75%;
      }

      @media (--large) {
        padding-bottom: 66.66%;
      }

      & > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border: 1px solid var(--gray-6);

        &.background-dark {
          border-color: var(--gray-3);
          background: none;
        }

        /* <Image /> might render with a wrapping <picture> tag */
        /* we need to account for that as well */
        & > picture {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        /* For most images, we can't expect built-in whitespace */
        /* or a consistent aspect ratio, so max-width and max-height */
        /* are applied */
        & > img,
        & > picture > img {
          max-width: 75%;
          max-height: 60%;
          height: auto;
          width: auto;
        }

        /* For standard company logos pulled from the mktg-assets repo, */
        /* we know there is built in whitespace and an exact aspect ratio. */
        /* So we can style these images accordingly. */
        &.has-whitespace {
          & > img,
          & > picture > img {
            max-width: none;
            max-height: none;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
