.root {
  border-top: 1px solid var(--gray-5);
  border-bottom: 1px solid var(--gray-5);
  padding: 16px 0;
  margin: -1px 0 0 0;

  &.isFirstItem {
    border-top: none;
  }

  &.isLastItem {
    border-bottom: none;
  }

  & .name {
    color: var(--brand-link);
    background: rgba(29, 30, 35, 0.07);
    border-radius: 3px;
    padding: 0.3em 0.625em;
  }

  & .typeString {
    color: var(--gray-2);
    background: none;
    padding: 0;
    margin-left: 2px;
  }

  & .requiredFlag {
    color: var(--danger-d1);
    margin-left: 4px;
  }

  & .title {
    color: var(--gray-2);
    margin: 8px 0 0 0;
  }

  & .toggleButton {
    border: none;
    color: var(--brand-link);
    background: none;
    display: flex;
    align-items: center;
    margin: 8px 0 0 0;
    padding: 0;

    & .toggleIcon {
      position: relative;
      top: 1px;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      transition: transform 0.3s;
      transform: rotate(-180deg);
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        & [fill] {
          fill: var(--brand-link);
        }
        & [stroke] {
          stroke: var(--brand-link);
        }
      }

      &.isCollapsed {
        transform: rotate(0deg);
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  & .propertiesContainer {
    margin: 8px 0 0 8px;
    padding-left: 16px;
    border-left: 1px solid var(--gray-5);
  }
}

.description {
  /* Base typography */
  composes: g-type-body-small from global;
  color: var(--gray-2);
  margin: 8px 0 0 0;

  /* Remove the top margin from any first item */
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
