.root {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray-5);
  margin-bottom: 1rem;
}

.heading {
  margin: 0 16px 0 0;
  composes: g-type-display-3 from global;
}

.packageDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  flex-grow: 1;
}

.sourcegraphLink {
  display: flex;
  color: var(--gray-2);
  align-items: center;

  &:hover {
    color: var(--brand);
  }
}

.sourcegraphLogo {
  margin: 0 4px;
  & > svg {
    display: block;
  }
}

.externalIcon {
  & > svg {
    display: block;
    width: 18px;
    height: 18px;

    & [stroke] {
      stroke: var(--gray-3);
    }
  }

  &[data-hovered='true'] {
    & > svg [stroke] {
      stroke: var(--brand);
    }
  }
}

.currentVersion {
  display: flex;
}
.currentVersionLabel {
  display: block;
  color: var(--gray-2);
  margin-right: 8px;
}
