/** @TODO: remove once search is converted to use css modules https://app.asana.com/0/1100423001970639/1199982445969979/f **/
@import '~@hashicorp/react-search/style.css';

@custom-media --mobile-viewports (max-width: 939px);
@custom-media --desktop-viewports (min-width: 940px);

/* @TODO: adjustment for versioned docs */
@media (max-width: 767px) {
  .g-alert-banner {
    display: none !important;
  }
}

#p-docs {
  & #edit-this-page {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 48px;

    & a {
      align-items: center;
      color: var(--gray-1);
      display: flex;
      opacity: 0.5;
      padding-right: 32px;
      transition: opacity 0.4s ease;

      &:hover {
        opacity: 1;
      }

      & > img {
        height: 22px;
        margin-right: 9px;
        width: 23px;
      }
    }
  }

  & table tr.warning td {
    background: #fcf8e3;
  }

  & #jump-to-section {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    user-select: none;
    z-index: 3;

    @media (--mobile-viewports) {
      margin-left: 1rem;
    }

    & .trigger {
      align-items: center;
      display: flex;
    }

    & svg {
      margin-left: 5px;
    }

    & .dropdown {
      background: white;
      border-radius: 3px;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
      display: none;
      margin: 10px 0 0 0;
      padding: 0 0 0 30px;
      position: absolute;
      z-index: 2;
      width: 500px;

      @media (--mobile-viewports) {
        width: 345px;
      }

      &.active {
        display: block;
      }
    }
  }

  & .version-select {
    margin-bottom: 1rem;
    max-width: 90%;
  }
}
