.pricingTierItem {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 100px;
  padding-left: 42px;
  padding-right: 42px;
  position: relative;
}

.icon {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, 0);
}

.tierName {
  margin: 0;
  text-align: center;
  composes: g-type-display-3 from global;
}

.tierNameXS {
  @media (--medium-up) {
    composes: g-type-display-4 from global;
  }
}

.details {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  text-align: center;
}

.label {
  composes: g-type-label from global;
  margin: 0;
}

.price {
  composes: g-type-display-4 from global;
  margin: 0;
}

.consumption {
  composes: g-type-body-small from global;
  margin: 0;
}

.description {
  composes: g-type-body-small from global;
  text-align: center;
  margin: 0 auto;
  color: var(--gray-2);

  & p {
    margin: 0;
  }
}

.cta {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.textLink {
  composes: g-type-buttons-and-standalone-links from global;
  text-decoration: underline;
  text-align: center;
}

.supplementaryInfo {
  color: var(--wpl-neutral-400);
  padding-top: 32px;

  & p {
    margin: 0;
  }

  & a {
    color: var(--wpl-neutral-300);
    cursor: pointer;
  }
}

.xsFont {
  font-weight: var(--font-weight-medium);
  font-size: 0.813rem;
  line-height: 1.5em;
  letter-spacing: 0.0125em;
}
