.root {
  margin-top: 72px;

  & a {
    text-decoration: underline;
  }

  & h1 {
    text-align: center;
  }

  &:global {
    &.consul {
      --brand: var(--consul);
      --brand-d1: var(--consul-d1);
    }

    &.vault {
      --brand: var(--vault);
      --brand-d1: var(--vault-d1);
    }

    &.terraform {
      --brand: var(--terraform);
      --brand-d1: var(--terraform-d1);
    }

    &.nomad {
      --brand: var(--nomad);
      --brand-d1: var(--nomad-d1);
    }

    &.packer {
      --brand: var(--packer);
      --brand-d1: var(--packer-d1);
    }

    &.vagrant {
      --brand: var(--vagrant);
      --brand-d1: var(--vagrant-d1);
    }

    &.boundary {
      --brand: var(--boundary);
      --brand-d1: var(--boundary-d1);
    }

    &.waypoint {
      --brand: var(--waypoint);
      --brand-d1: var(--waypoint-d1);
    }
  }
}

.logo {
  max-width: 140px;
}

.hosting {
  border: 1px solid var(--gray-6);
  padding: 16px;
  text-align: center;
  color: var(--gray-2);
}

.gettingStarted {
  max-width: 680px;
  margin: 40px auto 64px;
  text-align: center;

  & p {
    color: var(--gray-3);
  }

  & a {
    color: var(--black);
  }

  & h2 {
    text-align: center;
    margin: 16px 0;
  }

  @media (--medium-up) {
    margin: 88px auto 128px;
  }
}

.links {
  margin-top: 32px;
  & a {
    text-align: center;
    display: block;
    margin: 8px 0;
  }
}

.signUpButton {
  margin-left: 26px;
}
