.g-text-split > .g-grid-container > .text > ul.checkbox-list {
  list-style: none;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;

  & li.checkbox-item {
    display: flex;
    align-items: center;
    margin-top: 0.75em;
    margin-bottom: 0.75em;

    & .check-icon {
      align-self: flex-end;
      display: flex;
      margin-right: 16px;

      & svg {
        width: 1.5em;
        height: 1.5em;

        & #square {
          fill: var(--brand-secondary);
        }
      }
    }

    & > .text {
      margin-top: 0;
    }
  }

  & li.checkbox-item.theme-dark {
    & .check-icon {
      & svg {
        & path {
          stroke: var(--brand-secondary);
        }
        & rect {
          fill: var(--gray-1);
        }
      }
    }
  }
}
