.jump-to-section {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  user-select: none;
  z-index: 3;

  @media (--mobile-viewports) {
    margin-left: 1rem;
  }

  & .trigger {
    align-items: center;
    display: flex;
  }

  & svg {
    margin-left: 5px;
  }

  & .dropdown {
    background: white;
    border-radius: 3px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    display: none;
    margin: 10px 0 0 0;
    padding: 4px 16px;
    position: absolute;
    z-index: 2;
    width: 500px;
    list-style: none;

    @media (--mobile-viewports) {
      width: 345px;
    }

    & li {
      margin: 12px 0;
    }

    &.active {
      display: block;
    }
  }
}
