.root {
  color: var(--black);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: var(--black);
    opacity: 0;
  }

  &.isActive::after {
    opacity: 1;
  }
}
