name: Canary Release

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled

jobs:
  release-canary:
    uses: hashicorp/web-platform-packages/.github/workflows/canary-release.yml@ab38629ef660ca88c0481d939364c93e25a1e0eb
    with:
      PUBLISH_GITHUB_TOKEN: ${{ secrets.CHANGESETS_PAT }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
