name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    uses: hashicorp/web-platform-packages/.github/workflows/release.yml@ab38629ef660ca88c0481d939364c93e25a1e0eb
    with:
      PUBLISH_GITHUB_TOKEN: ${{ secrets.CHANGESETS_PAT }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
